@model PagedList.IPagedList<ProjeKulubu.Models.LoginList>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div class="page-title">
    <div>
        <h1><i class="fa fa-home"></i> Ana Sayfa</h1>
        <h4>Sitenizin istatistiklerine erişebilirsiniz</h4>
    </div>
</div>@*Header 1*@

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Ana Sayfa</li>
    </ul>
</div>@*Header 2*@

<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <p class="title">Proje Kulübü Türkiye Admin Yönetimi</p>
            <p>Yönetme şekli en rahat ve en kullanışlı admin paneli karşınızda bulunmaktadır.</p>
            <div class="img img-bottom">
                <i class="fa fa-desktop"></i>
            </div>
        </div>
    </div>
    <div class="col-md-3 tile-active">
        <div class="tile tile-white">
            <img src="~/Content/cizgitech.png" style="float:right;margin-right:85px;margin-top:10px" alt="Alternate Text" />

        </div>
        <div class="tile tile-blue">
            <p class="title">Cizgi Tech</p>
            <p>Çizgi Teknolojileri Size En uygun çözümleri üretir.</p>
            <div class="img img-bottom">
                <i class="fa fa-desktop"></i>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="tile tile-green">
            <div class="img">
                <i class="fa fa-copy"></i>
            </div>
            <div class="content">
                <p class="title"><a href="#" target="_blank" style="color:#000000">Tıklayın</a> ve Sizin İçin Hazırlanan Eğitim Sayfasına Gidin</p>
            </div>
        </div>
    </div>
</div>@*Shows*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Son Girişler</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-left">
                    @using (Html.BeginForm("AllDelete", "Admin", FormMethod.Post))
                    {
                        <div>
                            <input type="submit" style="margin-left:10px;height:34px" value="Temizle" onclick="Success()" class="btn btn-info" />
                        </div>
                    }
                </div>
                @using (Html.BeginForm("LoginListMultipleDelete", "Admin", FormMethod.Post))
                {
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-circle show-tooltip" title="Silme"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="Yenile" href="@Url.Action("Index", "Admin")"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive" style="margin-top:10px">
                        <table class="table table-advance">
                            <thead>
                                <tr>
                                    <th style="width:18px"><input type="checkbox" /></th>
                                    <th>ID</th>
                                    <th>İP Adresi</th>
                                    <th>Kullandığı Tarayıcı</th>
                                    <th>Giriş Tarihi</th>
                                    <th>Giriş Saati</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="table-flag-blue">
                                        <td><input type="checkbox" name="idler" id="@item.ID" value="@item.ID" /></td>
                                        <td>@item.ID</td>
                                        <td>@item.IPAdress</td>
                                        <td>@item.SoftwareType</td>
                                        <td>@item.LoginDate.ToString().Substring(0,10)</td>
                                        <td>@item.LoginDate.ToString().Substring(10,9)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <div class="text-center">
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                    </ul>
                </div>
                <div class="text-right" style="font-size:14px">
                    Toplam:@(Html.Raw(ViewBag.HtmlStr)) sonuç
                </div>
            </div>
        </div>
    </div>
</div>@*Login List*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-home"></i> İçerik Yönetimi</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Question/AddQuestion" method="post" enctype="multipart/form-data" class="form-horizontal form-row-separated">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label"><i class="fa fa-facebook "></i>  :</label>
                            <div class="col-sm-9 col-lg-10 controls">

                                <input type="text" style="color:#000000" class="form-control show-popover" id="Question" placeholder="Facebook Adresinizi Giriniz" data-trigger="hover" data-content="Bu kısıma facebook adresinizi giriniz..." data-placement="left" data-original-title="Facebook" name="Question" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label"><i class="fa fa-google-plus "></i>  :</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" style="color:#000000"  class="form-control show-popover" id="Question" placeholder="GooglePlus adresinizi giriniz" data-trigger="hover" data-content="Bu kısıma Googleplus adresinizi giriniz..." data-placement="left" data-original-title="GooglePlus" name="Question" />                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label"><i class="fa fa-twitter "></i>  :</label>
                            <div class="col-sm-9 col-lg-10 controls">

                                <input type="text" style="color:#000000" class="form-control show-popover" id="Question" placeholder="Twitter Adresinizi Giriniz" data-trigger="hover" data-content="Bu kısıma twitter adresinizi giriniz..." data-placement="left" data-original-title="Twitter" name="Question" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label"><i class="fa fa-linkedin "></i>  :</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" style="color:#000000" class="form-control show-popover" id="Question" placeholder="Linedin Adresinizi Giriniz" data-trigger="hover" data-content="Bu kısıma linkedin adresinizi giriniz..." data-placement="left" data-original-title="Linkedin" name="Question" />                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Telefon:</label>
                            <div class="col-sm-9 col-lg-10 controls">

                                <input type="text" style="color:#000000" class="form-control show-popover" id="Question" placeholder="Telefon Numarası Giriniz" data-trigger="hover" data-content="Bu kısıma telefon numarasını giriniz..." data-placement="left" data-original-title="Telefon" name="Question" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">E-Mail:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" style="color:#000000" class="form-control show-popover" id="Question" placeholder="E-Mail Adresinizi Girin" data-trigger="hover" data-content="Bu kısıma E-mail adresinizi giriniz.." data-placement="left" data-original-title="E-Mail" name="Question" />
                            </div>
                        </div>
                    </div>
                    

                  
                    <div class="form-group">

                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" style="float:right" onclick="DataSave()"><i class="fa fa-check-circle"></i> Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> @* Question Add *@

<footer>
    <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>@*Footer*@

<script type="text/javascript">
    function Success() {
        alert("Verilerin Tümü Başarıyla Silindi");
    }
</script>
<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>