<div id="sub-menu">
    <div class="list-group custom-list">
        <a class="list-group-item drop active" data-toggle="collapse" data-target="#drop-sub" data-parent="#sub-menu">Kurumsal</a>
        <div id="drop-sub" class="sublink collapse in">
            <a href="@Url.Action("Vizyonumuz","Home")" class="list-group-item">Vizyonumuz</a>
            <a href="@Url.Action("Misyonumuz","Home")" class="list-group-item">Misyonumuz</a>
        </div>
        <a class="list-group-item drop" data-toggle="collapse" data-target="#drop-sub2" data-parent="#sub-menu">Bireysel</a>
        <div id="drop-sub2" class="sublink collapse">
            <a href="@Url.Action("MusteriMemnuniyeti","Home")" class="list-group-item">Müşteri Memnuniyeti</a>
            <a href="@Url.Action("MusteriYorumlari","Home")" class="list-group-item">Müşteri Yorumları</a>
            <a href="@Url.Action("SikSorular","Home")" class="list-group-item">Sık Sorulan Sorular</a>
        </div>
        <a href="@Url.Action("BizKimiz","Home")" class="list-group-item">Biz Kimiz?</a>
        <a href="@Url.Action("NelerYapariz","Home")" class="list-group-item">Neler Yaparız?</a>
    </div>
</div>
<!--company addresss-->
<address class="padding-t20">
    <strong>ŞİRKET İSMİ</strong><br>
    ADRES<br>
    İSTANBUL, TÜRKİYE<br>
</address>
<abbr title="Phone Number"><strong>Telefon:</strong></abbr> (541) 557 36 10<br>
<abbr title="Fax"><strong>Fax:</strong></abbr> (541) 557 36 10<br>
<abbr title="Email Address"><strong>Email:</strong></abbr> info@projekulubuturkiye.com
<!--end body content-->
