@using ProjeKulubu.Models
@model OurPictures

@{
    ViewBag.Title = "PicturesDelete";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-image"></i>
            <a href="@Url.Action("PicturesIndex","Pictures")">Bizden Resimler</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active"><i class="fa fa-trash-o"></i>Resim Silme Ekranı</li>
    </ul>
</div>@*Header*@

<form action="/Pictures/PicturesDataDelete" method="post" class="form-horizontal form-row-separated">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-black">
                    <div class="box-title">
                        <h3><i class="fa fa-trash-o"></i> Mevcut Resmi Silmek İstediğinizden Eminmisiniz ?</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Resim ID:</label>
                            <div class="col-sm-9 col-lg-10 controls">

                                <input type="text" style="color:#000000" class="form-control" disabled value="@Model.ID" id="ID" name="textfield3" />
                            </div>
                        </div>
                      

                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Resim:</label>
                            <div class="col-sm-9 col-lg-10 control">
                                <img src="~/Dosyalar/@Model.PictureURL" alt="Alternate Text" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Resim SEO:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" style="color:#000000" class="form-control" value="@Model.PictureSEO" disabled id="QuestionContent" name="textfield3" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <input type="hidden" id="id" name="id" value="@Model.ID" />
                                <button type="submit" class="btn btn-primary" style="float:right" onclick="Success()">Sil</button>
                                <a class="btn btn-danger" style="float:left" href="@Url.Action("PicturesIndex","Pictures")">Geri Dön</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>@*Question Delete Form*@

<footer>
    <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>@*Footer*@

@*Scripts Down Here*@
<script type="text/javascript">
    function Success() {
        alert("Resim Başarıyla Silindi");
    }
</script>
