@using ProjeKulubu.Models
@model Tags

@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var blogList = db.Blog.ToList();
}

@{
    ViewBag.Title = "TagsUpdate";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-tags"></i>
            <a href="@Url.Action("TagsIndex","Tags")">Etiket Yönetimi</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active"><i class="fa fa-edit"></i>Etiket Düzenleme Ekranı</li>
    </ul>
</div>@*Header*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-edit"></i> Mevcut Etiketin Düzenlenme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Tags/TagsDataUpdate" class="form-horizontal form-row-separated" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Etiketin Ait Olacağı Makale:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <select name="blogId" id="Office" class="form-control input-sm" tabindex="1" style="color:#000000">
                                <option selected value="@Model.Blog.ID">Şuan ki Makale: @Model.Blog.BlogTitle</option>               
                                @foreach (var item in blogList)
                                {
                                    <option value="@item.ID">@item.BlogTitle</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Etiket İsmi:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="tagname" style="color:#000000" required oninvalid="this.setCustomValidity('Etiket İsmini Boş Geçemezsiniz')" oninput="setCustomValidity('')" id="tagname" placeholder="Etiket İsmini Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma etiket adını giriniz..." data-original-title="Etiket İsmi" value="@Model.TagsName" data-placement="left">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <input type="hidden" id="id" name="id" value="@Model.ID" />
                            <button type="submit" class="btn btn-primary" style="float:right"><i class="fa fa-check-circle"></i> Kaydet</button>
                            <a class="btn btn-danger" style="float:left" href="@Url.Action("TagsIndex","Tags")">Geri Dön</a>
                        </div>

                    </div>
                    <div class="form-group last">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <h6 style="float:right">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>@*Tags Update Form*@

<footer>
    <p>2016 © <a  target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>@*Footer*@

