@model PagedList.IPagedList<ProjeKulubu.Models.OfficePictures>
@using PagedList.Mvc
@using ProjeKulubu.Models
@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var officeList = db.Office.ToList();
}
@{
    ViewBag.Title = "OfficePictureIndex";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div class="page-title">
    <div>
        <h1><i class="fa fa-bars"></i> Ofis Resimleri</h1>
        <h4>Bu kısımda mevcut ofislerinize ait resimleri düzenleyebilir veya ofisleriniz için resim ekleyebilirsiniz</h4>
    </div>
</div>@*Header 1*@

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Ofis Görsel Yönetimi</li>
    </ul>
</div>@*Header 2*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-list-alt"></i> Ofis Görsel Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                
                    @if (officeList == null || officeList.Count == 0)
                    {
                        <form method="get" action="/Office/OfficeIndex" class="form-horizontal form-row-separated">
                            <div class="form-group">
                                <div class="col-sm-12 col-lg-12 controls">
                                    <input type="text" name="OfficePictureSEO" disabled style="color:#000000" id="OfficePictureSEO" value="Öncelikle Bir Ofis Eklemelisiniz" class="form-control show-popover">
                                </div>
                            </div>
                                <div class="form-group last">
                                    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary" style="float:right"><i class="fa fa-check-circle"></i>Ofis Ekle</button>
                                    </div>
                                </div>
                        </form>
                    }
                    else
                    {
                        <form action="/Office/AddOfficePicture" class="form-horizontal form-row-separated" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">* Resmin Ait Olduğu Ofis:</label>
                                <div class="col-sm-9 col-lg-10 controls">


                                    <select name="officeId" id="Office" class="form-control input-sm" tabindex="1" required oninvalid="this.setCustomValidity('Öncelikle Bir Ofis Eklemelisiniz')" oninput="setCustomValidity('')" style="color:#000000">
                                        @foreach (var item in officeList)
                                {
                                            <option value="@item.ID">@item.OfficeName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">* Ofis Resmi:</label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                            <img src="~/Content/noimage.gif" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-default btn-file">
                                                <span class="fileupload-new">Resim Seç</span>
                                                <span class="fileupload-exists">Değiştir</span>

                                                <input required oninvalid="this.setCustomValidity('Ofis resmini boş geçemezsiniz')" oninput="setCustomValidity('')" type="file" id="uploadFile" accept="image/*" name="OfficePicture" class="file-input" />
                                            </span>
                                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Sil</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Ofis Resim SEO:</label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" name="OfficePictureSEO" required oninvalid="this.setCustomValidity('SEO kısmını boş geçemezsiniz')" oninput="setCustomValidity('')" style="color:#000000" id="OfficePictureSEO" placeholder="SEO Kelimenizi Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ofis resminiz için maksimum üç anahtar kelime giriniz" data-original-title="Ofis Resim SEO" data-placement="left">
                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary" style="float:right"><i class="fa fa-check-circle"></i> Kaydet</button>
                                    <h6 style="float:left">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>
                                </div>
                            </div>
                        </form>
                    }
                    

                    </div>
        </div>
    </div>
</div> @*Add Office Picture*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Ofis Resimleri</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-left">
                    @using (Html.BeginForm("OfficePictureIndex", "Office", FormMethod.Post))
                    {
                        <div class="btn-group" style="margin-left:5px">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Arama..", style = "color:#000000", required = "required" })
                        </div>
                            <div class="btn-group">
                                <input type="submit" style="margin-left:10px;height:34px" value="Ara" class="btn btn-info" />
                            </div>
                    }
                </div>
@using (Html.BeginForm("PictureMultipleDelete", "Office", FormMethod.Post))
{
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <button type="submit" class="btn btn-circle show-tooltip" title="Silme"><i class="fa fa-trash-o"></i></button>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="@Url.Action("OfficePictureIndex", "Office")"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive" style="margin-top:10px">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>@Html.ActionLink("Resmin Ait Olduğu Ofis", "OfficePictureIndex", new { Sorting_Order = ViewBag.PictureOfficeName, currentFilter = ViewBag.CurrentFilter }, new { @class = "cssMenu" })    <span style="margin-left:2px" data-trigger="hover" data-content="Başlığa Tıklarsanız İsimler A'dan Z'ye Sıralanır" data-original-title="Bilgilendirme" data-placement="top" class="fa fa-question-circle show-popover"></span></th>
                                <th>Resim SEO</th>
                                <th>Resim</th>
                                <th>Düzenleme</th>
                                <th>Silme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="table-flag-blue">
                                    <td><input type="checkbox" name="idler" id="@item.ID" value="@item.ID" /></td>
                                    <td>@item.ID</td>
                                    <td>@item.Office.OfficeName</td>
                                    <td>@item.PictureSEO</td>
                                    <td>
                                        <ul class="gallery">
                                            <li>
                                                <a href="~/Dosyalar/@item.PictureURL" class="show-tooltip" title="Resmi İnceleyin" rel="prettyPhoto">
                                                    <div>
                                                        <span class="fa fa-image"></span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                   
                                    <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="@Url.Action("OfficePictureUpdate", "Office")/@item.ID"><i class="fa fa-edit"></i></a></td>
                                    <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" name="idler" id="@item.ID"><i class="fa fa-trash-o"></i></a></td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("OfficePictureIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                    </ul>
                </div>
                <div class="text-right" style="font-size:14px">
                    Toplam:@(Html.Raw(ViewBag.HtmlStr)) sonuç
                </div>
}
            </div>
        </div>
    </div>
</div> @*Office Picture List*@

<footer>
    <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer> @*Footer*@


@*Scripts Down Here*@
<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" src="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script src="~/Content/AdminContent/js/buttonActions.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<style type="text/css">
    .cssMenu {
        color: #888;
    }

        .cssMenu:hover {
            color: #0094ff;
        }
</style>