@using ProjeKulubu.Models
@model OfficePictures
@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var officeList = db.Office.ToList();
}

@{
    ViewBag.Title = "OfficePictureUpdate";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div class="page-title">
    <div>
        <h1><i class="fa fa-bars"></i> Ofis Resimleri Güncelleme </h1>
        <h4>Bu kısımda mevcut ofislerinize ait resimleri güncelleyebilirsiniz</h4>
    </div>
</div>@*Header 1*@

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Ofis Görsel Yönetimi</li>
    </ul>
</div>@*Header 2*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-edit"></i>Mevcut Resmin Güncelleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Office/OfficePictureDataUpdate" class="form-horizontal form-row-separated" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Resmin Şuan Ait Olduğu Ofis:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="Office" disabled value="@Model.Office.OfficeName" style="color:#000000" id="Office" class="form-control show-popover" data-trigger="hover" data-content="Bu kısımda resminizin hangi ofise ait olduğu gösterilir." data-original-title="Ofis Resim" data-placement="left">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">*Resmin Ait Olacağı Ofis:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <select name="officeId" id="Office" class="form-control input-sm" tabindex="1" required oninvalid="this.setCustomValidity('Resmin Ait Olduğu Ofis Kısmını Boş Geçemezsiniz')" oninput="setCustomValidity('')" style="color:#000000">
                                @foreach (var item in officeList)
                                {
                                    <option value="@item.ID">@item.OfficeName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Ofis Resmi:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                    <img src="~/Dosyalar/@Model.PictureURL" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Resim Seç</span>
                                        <span class="fileupload-exists">Değiştir</span>

                                        <input accept="image/*" type="file" id="uploadFile" name="OfficePicture" class="file-input" />
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Ofis Resim SEO:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" value="@Model.PictureSEO" name="OfficePictureSEO" required oninvalid="this.setCustomValidity('SEO kısmını boş geçemezsiniz')" oninput="setCustomValidity('')" style="color:#000000" id="OfficePictureSEO" placeholder="SEO Kelimenizi Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ofis resminiz için maksimum üç anahtar kelime giriniz" data-original-title="Ofis Resim SEO" data-placement="left">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <input type="hidden" name="id" value="@Model.ID" />
                            <button type="submit" class="btn btn-primary" style="float:right"><i class="fa fa-check-circle"></i> Kaydet</button>
                            <a class="btn btn-danger" style="float:left" href="@Url.Action("OfficePictureIndex","Office")">Geri Dön</a>
                            
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <h6 style="float:right">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> @*Update Form*@

@*Scripts Down Here*@
<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" src="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script src="~/Content/AdminContent/js/buttonActions.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />