@using ProjeKulubu.Models
@model CustomerComments

@{
    ViewBag.Title = "CustomerUpdate";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-comment"></i>
            <a href="@Url.Action("QuestionIndex","Question")">Müşteri Yorumları</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active"><i class="fa fa-edit"></i>Yorum Düzenleme Ekranı</li>
    </ul>
</div> @*Header*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-edit"></i> Mevcut Yorumu Düzenleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Customer/CustomerDataUpdate" class="form-horizontal form-row-separated" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Müşteri İsmi:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="CustomerName" style="color:#000000" required oninvalid="this.setCustomValidity('Müşteri İsmini Boş Geçemezsiniz')" oninput="setCustomValidity('')" id="CustomerName" placeholder="Müşteri İsmini Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma müşterinizin adını giriniz..." data-original-title="Müşteri İsmi" value="@Model.Name" data-placement="left">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Yorum Resmi:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                    <img src="~/Dosyalar/@Model.CommentsPictureURL" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Resim Seç</span>
                                        <span class="fileupload-exists">Değiştir</span>

                                        <input type="file" accept="image/*" id="uploadFile" name="CommentPicture" value="@Model.CommentsPictureURL" class="file-input" />
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Resim SEO:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" style="color:#000000" name="seo" required oninvalid="this.setCustomValidity('SEO Kısmını Boş Geçemezsiniz')" oninput="setCustomValidity('')" id="CustomerName" placeholder="SEO" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma resim için bir anahtar kelime giriniz" value="@Model.PictureSEO" data-original-title="Resim Seo" data-placement="left">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <input type="hidden" id="id" name="id" value="@Model.ID" />
                            <button type="submit" class="btn btn-primary" style="float:right"><i class="fa fa-check-circle"></i> Kaydet</button>
                            <a class="btn btn-danger" style="float:left" href="@Url.Action("CustomerIndex","Customer")">Geri Dön</a>
                        </div>
                        
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <h6 style="float:right">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> @*Customer Update Form*@

<footer>
    <p>2016 ©  <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer> @*Footer*@


@*Scripts Down HERE*@

<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />

