@model ProjeKulubu.Models.Education

@{
    ViewBag.Title = "GivingEducationDelete";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-file-text-o"></i>
            <a href="@Url.Action("GivingEducationIndex","GivingEducation")">Verilen Eğitim Yönetimi</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active"><i class="fa fa-trash-o"></i>Eğitim Silme Ekranı</li>
    </ul>
</div>@*Header 1*@

<form method="post" action="/GivingEducation/GivingEducationDataDelete" class="form-row-separated form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-black">
                    <div class="box-title">
                        <h3><i class="fa fa-trash-o"></i> Mevcut Eğitimi Silmek İstediğinizden Eminmisiniz ?</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Eğitim ID:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="title" id="title" value="@Model.ID" class="form-control show-popover" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Eğitim Başlığı:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="title" id="title" value="@Model.EducationTitle" disabled class="form-control show-popover">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Eğitim Resim/Video:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                        <img src="~/Dosyalar/@Model.EducationFileURL" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Eğitim Resim SEO:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" disabled name="seo" id="seo" value="@Model.EducationFileSEO" class="form-control show-popover">
                            </div>
                        </div>
                        <div class="box-content">

                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Eğitim İçeriği:</label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <textarea class="form-control col-md-12" id="content" name="content" disabled rows="6">@Model.EducationContent</textarea>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <input type="hidden" id="id" name="id" value="@Model.ID" />
                              <button type="submit" class="btn btn-primary" style="float:right" onclick="Success()">Sil</button>
                                 <a class="btn btn-danger" style="float:left" href="@Url.Action("GivingEducationIndex","GivingEducation")">Geri Dön</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>@*Edu Delete Form*@

<footer>
    <p>2016 © <a href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>@*Footer*@

@*Scripts Down Here*@
<script type="text/javascript">

        function Success() {
            alert("Makale Başarıyla Silindi");
        }
</script>@*Success Message*@
<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>