@using ProjeKulubu.Models

@{
    Layout = null;
}

@{ 
    db2299D218BEEntities8 db = new db2299D218BEEntities8();
    var notReadList = db.Contact.Where(x => x.ReadorNot == false).ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Proje Kulübü Türkiye</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--base css styles-->
    <link rel="stylesheet" href="/Content/AdminContent/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/AdminContent/assets/font-awesome/css/font-awesome.min.css">
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link rel="stylesheet" href="/Content/AdminContent/css/flaty.css">
    <link rel="stylesheet" href="/Content/AdminContent/css/flaty-responsive.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <link href="~/Content/AdminContent/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/AdminContent/assets/font-awesome/css/font-awesome.min.css">
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link href="~/Content/AdminContent/css/flaty.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/AdminContent/css/flaty-responsive.css">
    <link rel="stylesheet" href="~/Content/AdminContent/assets/prettyPhoto/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/chosen-bootstrap/chosen.min.css" />

</head>
<body>
    <!-- BEGIN Theme Setting -->
    
    <!-- END Theme Setting -->
    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index","Admin")">
            <small>
                <i class="fa fa-desktop"></i>
              Proje Kulübü Admin Paneli
            </small>
        </a>
        <!-- BEGIN Navbar Buttons -->
        <ul class="nav flaty-nav pull-right">
            <li class="hidden-xs">
                <a target="_blank"  href="@Url.Action("Index","Home")">
                    <i class="fa fa-upload"></i>
                </a>
                <!-- BEGIN Messages Dropdown -->
                
                <!-- END Notifications Dropdown -->
            </li>
            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-envelope show-tooltip" title="Okunmayan Mesajlarınız"></i>
                    <span class="badge badge-success">@notReadList.Count()</span>
                </a>
                <!-- BEGIN Messages Dropdown -->
                <ul class="dropdown-navbar dropdown-menu">
                    <li class="nav-header">
                        <i class="fa fa-comments"></i>
                       @notReadList.Count() Yeni Mesajınız Var
                    </li>
                    @foreach (var item in notReadList)
                    {
                        <li class="msg">
                            <a href="@Url.Action("ContactView","Contact")/@item.ID">
                                <img src="~/Content/notification.png" alt="Alternate Text" />
                                <div>
                                    <span class="msg-title">@item.ContactName</span>
                                    <span class="msg-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>a moment ago</span>
                                    </span>
                                </div>
                                <p>@item.ContactSubjectContent</p>
                            </a>
                        </li>
                    }
                    
                    <li class="more">
                        <a href="@Url.Action("ContactIndex","Contact")">Bütün Mesajları Gör</a>
                    </li>
                </ul>
                <!-- END Notifications Dropdown -->
            </li>
            <!-- END Button Messages -->
            <!-- BEGIN Button User -->
            <li class="user-profile">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="~/Content/pikocon_html/images/atilla.jpg" Admin Photo" />
                    <span id="user_info">
                        Admin
                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                    <li class="nav-header">
                        <i class="fa fa-clock-o"></i>
                        Giriş Saati 20:45
                    </li>
                    <li>
                        <a href="@Url.Action("Settings","Admin")">
                            <i class="fa fa-user"></i>
                            Hesap Bilgisi
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-question"></i>
                            Yardım
                        </a>
                    </li>
                    <li class="divider visible-xs"></li>
                    <li class="visible-xs">
                        <a href="@Url.Action("ContactIndex","Contact")">
                            <i class="fa fa-envelope"></i>
                            Mesajlar
                            <span class="badge badge-success">@notReadList.Count()</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    
                        <li>
                            <a href="@Url.Action("LogOut","Admin")">
                                <i class="fa fa-off"></i>
                                Çıkış
                            </a>
                        </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>
            <!-- END Button User -->
        </ul>
        <!-- END Navbar Buttons -->
    </div>
    <!-- END Navbar -->
    <!-- BEGIN Container -->
    <div class="container" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="navbar-collapse collapse">
           
            <ul class="nav nav-list">
                <!-- BEGIN Search Form -->
                <li>
                    <form target="#" method="GET" class="search-form">
                        <span class="search-pan">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" name="search" placeholder="Arama Yapınız ..." autocomplete="off" />
                        </span>
                    </form>
                </li>
                <!-- END Search Form -->
                <li class="active">
                    <a href="@Url.Action("Index","Admin")">
                        <i class="fa fa-dashboard"></i>
                        <span>Ana Sayfa</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-list-alt"></i>
                        <span>Proje Yönetimi</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="@Url.Action("CompleteProjects", "Project")">Tamamlanan Projeler</a></li>
                        <li><a href="@Url.Action("SaleProjects", "Project")">Satışı Devam Eden Projeler</a></li>
                        <li><a href="@Url.Action("SoonProjects", "Project")">Yakındaki Projeler</a></li>
                        <li><a href="@Url.Action("ProjectPictureIndex", "Project")">Proje Resim İşlemleri</a></li>


                    </ul>
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-list-alt"></i>
                        <span>Ofis Yönetimi</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="@Url.Action("OfficeIndex", "Office")">Ofis İşlemleri</a></li>
                        <li><a href="@Url.Action("OfficePictureIndex", "Office")">Ofis Resim İşlemleri</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-file-text-o"></i>
                        <span>Eğitim Yönetimi</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="@Url.Action("TakingEducationIndex", "TakingEducation")">Alınan Eğitimler</a></li>
                        <li><a href="@Url.Action("GivingEducationIndex", "GivingEducation")">Verilen Eğitimler</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-tasks"></i>
                        <span>Makale Yönetimi</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="@Url.Action("BlogIndex", "Blog")">Makale İşlemleri</a></li>
                        <li><a href="@Url.Action("TagsIndex", "Tags")">Makale Etiket</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="@Url.Action("ReferenceIndex", "Reference")">
                        <i class="fa fa-star-o"></i>
                        <span>Referans Yönetimi</span>
                    </a>
                </li>
               

                <li>
                    <a href="@Url.Action("QuestionIndex", "Question")">
                        <i class="fa fa-question-circle"></i>
                        <span>S.S.S Yönetimi</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TeamIndex","Team")">
                        <i class="fa fa-users"></i>
                        <span>Ekip Yönetimi</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("PicturesIndex", "Pictures")">
                        <i class="fa fa-image"></i>
                        <span>Bizden Resimler</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CustomerIndex", "Customer")">
                        <i class="fa fa-comments"></i>
                        <span>Müşteri Yorumları</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ContactIndex","Contact")">
                        <i class="fa fa-connectdevelop"></i>
                        <span>İletişim Mesajları</span>
                    </a>
                </li>
                
            </ul>
            <!-- END Navlist -->
            <!-- BEGIN Sidebar Collapse Button -->
            <div id="sidebar-collapse" class="visible-lg">
                <i class="fa fa-angle-double-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->

</div>
        <!-- END Sidebar -->
      
        <!-- BEGIN Content -->
        <div id="main-content">@RenderBody()</div>


        
        <!-- END Content -->
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/Content/AdminContent/assets/jquery/jquery-2.1.4.min.js"><\/script>')</script>
    <script src="/Content/AdminContent/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/AdminContent/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Content/AdminContent/assets/jquery-cookie/jquery.cookie.js"></script>
    <!--page specific plugin scripts-->
    <!--flaty scripts-->
    <script src="/Content/AdminContent/js/flaty.js"></script>
    <script src="/Content/AdminContent/js/flaty-demo-codes.js"></script>
    <!-- END Container -->
    <!--basic scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/AdminContent/assets/jquery/jquery-2.1.4.min.js"><\/script>')</script>
    <script src="~/Content/AdminContent/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminContent/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/AdminContent/assets/jquery-cookie/jquery.cookie.js"></script>
    <!--page specific plugin scripts-->
    <script src="~/Content/AdminContent/assets/flot/jquery.flot.js"></script>
    <script src="~/Content/AdminContent/assets/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/AdminContent/assets/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/AdminContent/assets/flot/jquery.flot.stack.js"></script>
    <script src="~/Content/AdminContent/assets/flot/jquery.flot.crosshair.js"></script>
    <script src="~/Content/AdminContent/assets/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/AdminContent/assets/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/AdminContent/assets/chosen-bootstrap/chosen.jquery.min.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="~/Content/AdminContent/assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="~/Content/AdminContent/assets/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-duallistbox/duallistbox/bootstrap-duallistbox.js"></script>
    <script src="~/Content/AdminContent/assets/dropzone/downloads/dropzone.min.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Content/AdminContent/assets/clockface/js/clockface.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-daterangepicker/date.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="~/Content/AdminContent/assets/ckeditor/ckeditor.js"></script>



    <!--flaty scripts-->
    <script src="~/Content/AdminContent/js/flaty.js"></script>
    <script src="~/Content/AdminContent/js/flaty-demo-codes.js"></script>
    <script src="~/Content/AdminContent/assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/AdminContent/assets/chosen-bootstrap/chosen.jquery.min.js"></script>
    <script src="~/Content/AdminContent/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminContent/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/AdminContent/assets/jquery-cookie/jquery.cookie.js"></script>

    
</body>
</html>
