@using ProjeKulubu.Models
@{
    db2299D218BEEntities8 db= new db2299D218BEEntities8();
    List<AskedQuestions> questionList = new List<AskedQuestions>();
    questionList = db.AskedQuestions.Where(x => x.Question != null && x.QuestionAnswer != null).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Sorular</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Düzenle" href="#"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="#"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Soru Başlığı</th>
                                <th>Soru Cevabı</th>
                                <th>İnceleme</th>
                                <th>Silme</th>
                                <th>Düzenleme</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (AskedQuestions item in questionList)
                           {
                            <tr class="table-flag-blue">
                                <td><input type="checkbox" /></td>
                                <td>@item.ID</td>
                                <td>@item.Question</td>
                                <td>@item.QuestionAnswer</td>
                                <td><a class="btn btn-sm show-tooltip" title="İncele" href="@Url.Action("QuestionDetail","Question")/@item.ID"><i class="fa fa-search"></i></a></td>
                                <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="@Url.Action("QuestionUpdate","Question")/@item.ID"><i class="fa fa-edit"></i></a></td>
                                <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="@Url.Action("QuestionDelete", "Question")/@item.ID"><i class="fa fa-trash-o"></i></a></td>
                              
                            </tr>
                           }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">← Önceki</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Sonraki → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>