@model PagedList.IPagedList<ProjeKulubu.Models.AskedQuestions>
@using PagedList.Mvc

@{
    ViewBag.Title = "QuestionIndex";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

@helper cutContent(string metin)
{
    if (metin.Length > 10)
    {
        <p>@metin.Substring(0, 10)...</p>
    }
    else
    {
        <p>@metin</p>
    }
}

<script src="~/Content/AdminContent/js/QuestionIndex.js"></script>

<div class="page-title">
    <div>
        <h1><i class="fa fa-bars"></i> Sık Sorulan Sorular</h1>
        <h4>Bu kısımda soru ve cevap ekleyip silebilir veya düzenleyebilirsiniz</h4>
    </div>
</div> @*Header 1*@

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Sık Sorulan Sorular</li>
    </ul>
</div> @*Header 2*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-question-circle"></i> Soru Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Question/AddQuestion" onsubmit="return (Control());" method="post" enctype="multipart/form-data" class="form-horizontal form-row-separated">
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Soru Başlığı:</label>
                        <div class="col-sm-9 col-lg-10 controls">

                            <input type="text" style="color:#000000" required oninvalid="this.setCustomValidity('Soru Başlığını Boş Geçemezsiniz')" oninput="setCustomValidity('')" class="form-control show-popover" id="Question" placeholder="Soru Başlığını Giriniz"  data-trigger="hover" data-content="Bu kısıma soru başlığınızı giriniz..." data-placement="left" data-original-title="Soru Başlığı" name="Question" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Soru Cevap:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <textarea class="form-control col-md-12 ckeditor"  id="Answer" name="Answer" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" style="float:right" onclick="DataSave()"><i class="fa fa-check-circle"></i> Kaydet</button>
                            <h6 style="float:left">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> @* Question Add *@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Sorular</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-left">
                    @using (Html.BeginForm("QuestionIndex", "Question", FormMethod.Post))
                    {
                        <div class="btn-group" style="margin-left:5px">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Arama..", style = "color:#000000", required = "required" })
                        </div>
                        <div class="btn-group">
                            <input type="submit" style="margin-left:10px;height:34px" value="Ara" class="btn btn-info" />
                        </div>
                    }
                </div>

                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <button type="submit" class="btn btn-circle show-tooltip" id="MultiDataDelete" onclick="MultiDataDelete()" title="Silme"><i class="fa fa-trash-o"></i></button>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="@Url.Action("QuestionIndex", "Question")"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive"  style="margin-top:10px">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>@Html.ActionLink("Soru Başlığı", "QuestionIndex", new { Sorting_Order = ViewBag.Question, currentFilter = ViewBag.CurrentFilter }, new { @class = "cssMenu" })    <span style="margin-left:2px" data-trigger="hover" data-content="Başlığa Tıklarsanız Veriler A'dan Z'ye Sıralanır" data-original-title="Bilgilendirme" data-placement="top" class="fa fa-question-circle show-popover"></span></th>
                                <th>Soru Cevabı</th>
                                <th>Düzenleme</th>
                                <th>Silme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="table-flag-blue">
                                    <td><input type="checkbox" name="idler" id="@item.ID" value="@item.ID" /></td>
                                    <td>@item.ID</td>
                                    <td>@{@cutContent(@item.Question)}</td>
                                    <td>@{@cutContent(@item.QuestionAnswer)}</td>
                                    <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="@Url.Action("QuestionUpdate", "Question")/@item.ID"><i class="fa fa-edit"></i></a></td>
                                    <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="@Url.Action("QuestionDelete", "Question")/@item.ID"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("QuestionIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                    </ul>
                </div>
                <div class="text-right" style="font-size:14px">
                    Toplam:@(Html.Raw(ViewBag.HtmlStr)) sonuç
                </div>
            </div>
        </div>
    </div>
</div> @*Question List*@

<footer>
    <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer> @*Footer*@

@*Scripts Down Here*@

<style type="text/css">
    .cssMenu {
        color: #888;
    }

        .cssMenu:hover {
            color: #0094ff;
        }
</style>
<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
<script src="~/Content/AdminContent/js/buttonActions.js"></script>
<script type="text/javascript" src="/Content/AdminContent/assets/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    function ErrorMessage() {
        alert("Başında * Olan Yerler Boş Geçilemez");
    }
    function Control() {
        var editorText = CKEDITOR.instances.Answer.getData();
        if (editorText.length == 0) {
            ErrorMessage();
            return false;
        }
        else {
            return true;
        }

    }
</script>@*Content Control*@
