@using ProjeKulubu.Models;
@model ProjectPicture
@using PagedList
@using PagedList.Mvc

@{
    ProjeKulubu.Models.db2299D218BEEntities9 db = new ProjeKulubu.Models.db2299D218BEEntities9();
    List<Project> projectList = new List<Project>();
    projectList = db.Project.Where(x => x.ProjectName != null).ToList();
}


@{
    ViewBag.Title = "ProjectPictureIndex";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}


<div class="page-title">
    <div>
        <h1><i class="fa fa-star"></i> Proje Resimleri</h1>
        <h4>Bu kısımda mevcut projelerinize ait resimleri düzenleyebilir veya yeni proje resimleri ekleyebilirsiniz</h4>
    </div>
</div>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Proje Görsel Yönetimi</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-star"></i> Proje Görsel Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Project/AddProjectPicture" class="form-horizontal form-row-separated" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">*Resmin Ait Olduğu Proje:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <select name="projectId" id="Project" class="form-control input-sm" tabindex="1" required oninvalid="this.setCustomValidity('Resmin Ait Olduğu Proje Kısmını Boş Geçemezsiniz')" oninput="setCustomValidity('')" style="color:#000000">
                                @foreach (Project item in projectList)
                                {
                                    <option value="@item.ID">@item.ProjectName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Proje Resmi:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Resim Seç</span>
                                        <span class="fileupload-exists">Değiştir</span>

                                        <input required oninvalid="this.setCustomValidity('Proje resmini boş geçemezsiniz')" oninput="setCustomValidity('')" type="file" id="uploadFile" name="ProjectPicture" class="file-input" />
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Sil</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Proje Resim SEO:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="ProjectPictureSEO" required oninvalid="this.setCustomValidity('SEO kısmını boş geçemezsiniz')" oninput="setCustomValidity('')" style="color:#000000" id="ProjectPictureSEO" placeholder="SEO Kelimenizi Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma proje resminiz için maksimum üç anahtar kelime giriniz" data-original-title="Proje Resim SEO" data-placement="left">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Proje Resim Açıklama:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="ProjectPictureDesc" id="ProjectPictureDesc" style="color:#000000" placeholder="Kısa Açıklama Cümlesi Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma proje resminiz için kısa açıklama giriniz" data-original-title="Proje Resim Açıklama" data-placement="left">
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" style="float:right"><i class="fa fa-check-circle"></i> Kaydet</button>
                            @ViewBag.Error
                            <h6 style="float:left">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Proje Resimleri</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="@Url.Action("ProjectPictureIndex", "Project")"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Resim Ait Olduğu Proje</th>
                                <th>Resim SEO</th>
                                <th>Resim Açıklama</th>
                                <th>Resim URL</th>
                                <th>Düzenleme</th>
                                <th>Silme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var list in ViewBag.Show)
                            {
                                <tr class="table-flag-blue">
                                    <td><input type="checkbox" /></td>
                                    <td>@list.ID</td>
                                    <td>@list.Project.ProjectName</td>
                                    <td>@list.PictureSEO</td>
                                    <td>@list.PictureALT</td>
                                    <td>
                                        <ul class="gallery">
                                            <li>
                                                <a href="~/Dosyalar/@list.PictureURL" class="show-tooltip" title="Resmi İnceleyin" rel="prettyPhoto">
                                                    <div>
                                                        <span class="fa fa-image"></span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>

                                    <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="@Url.Action("ProjectPictureUpdate", "Project")/@list.ID"><i class="fa fa-edit"></i></a></td>
                                    <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="@Url.Action("ProjectPictureDelete", "Project")/@list.ID"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        @Html.PagedListPager((IPagedList)ViewBag.Show, page => Url.Action("ProjectPictureIndex", new { page }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer> @*Footer*@

<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" src="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script src="~/Content/AdminContent/js/buttonActions.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />