@using ProjeKulubu.Models
@model Project

@{
    ViewBag.Title = "CompleteProjectDelete";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-gavel"></i>
            <a href="@Url.Action("SaleProjects", "Project")">Satışı Devam Eden Proje Yönetimi</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active"><i class="fa fa-trash-o"></i>Proje Silme Ekranı</li>
    </ul>
</div>@*Header 1*@

<form action="/Project/SaleProjectDataDelete" method="post" class="form-horizontal form-row-separated">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-black">
                <div class="box-title">
                    <h3><i class="fa fa-trash-o"></i>Mevcut Projeyi Silmek İstediğinize Emin Misiniz ?</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-group">
                        <label for="textfield1" class="col-xs-3 col-lg-2 control-label">ID : </label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" id="PName" name="Name" disabled value="@Model.ID" style="color:#000000" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield1" class="col-xs-3 col-lg-2 control-label">İsim : </label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" id="PName" name="Name" disabled value="@Model.ProjectName" style="color:#000000" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password1" class="col-xs-3 col-lg-2 control-label">Tipi :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input class="form-control" style="color:#000000" id="PType" disabled name="Type" type="text" value="@Model.ProjectType">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea2" class="col-xs-3 col-lg-2 control-label">İçerik :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <textarea name="Content" style="color:#000000" id="PContent" rows="5" disabled class="form-control">@Model.ProjectContent</textarea>
                        </div>
                    </div>
                    <!-- BEGIN Right Side -->
                    <div class="form-group">
                        <label for="textfield2" class="col-xs-3 col-lg-2 control-label">Çalışma Saatleri :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" style="color:#000000" name="Bugdet" id="PBudget" disabled value="@Model.ProjectWorkingTimes" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield2" class="col-xs-3 col-lg-2 control-label">Bütçe :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" style="color:#000000" name="Bugdet" id="PBudget" disabled value="@Model.ProjectBudgets" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Location" class="col-xs-3 col-lg-2 control-label">Birim :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input class="form-control" style="color:#000000" id="PBirim" disabled name="Birim" type="text" value="@Model.ProjectMoneyType">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-xs-3 col-lg-2 control-label">Yıl :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input class="form-control" id="PYear" style="color:#000000" disabled name="Year" type="text" value="@Model.ProjectYear">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-xs-3 col-lg-2 control-label">Telefon :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input class="form-control" style="color:#000000" disabled name="Telefon" id="PPhone" type="text" value="@Model.ProjectPhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="col-xs-3 col-lg-2 control-label">E-Mail : </label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <div class="input-group">
                                <span class="input-group-addon">@@</span>
                                <input class="form-control" style="color:#000000" id="PEMail" disabled name="EMail" type="text" value="@Model.ProjectMail">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea2" class="col-xs-3 col-lg-2 control-label">Adres :</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <textarea name="Adres"  style="color:#000000" id="PAdress" rows="5" disabled class="form-control">@Model.ProjectAltLocation</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <input type="hidden" id="id" name="id" value="@Model.ID" />
                            <button type="submit" class="btn btn-primary" style="float:right" onclick="Success()">Sil</button>
                            <a class="btn btn-danger" style="float:left" href="@Url.Action("SaleProjects", "Project")">Geri Dön</a>
                        </div>
                    </div>
                    <!-- END Right Side -->

                </div>
            </div>
        </div>
    </div>
</form>@*Project Delete Form*@


@*Scripts Down Here*@

<script type="text/javascript">
    function Success() {
        alert("Seçili Proje Başarıyla Silindi");
    }
</script>