@model PagedList.IPagedList<ProjeKulubu.Models.Project>
@using PagedList.Mvc

@{
    ViewBag.Title = "CompleteProjects";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div class="page-title">
    <div>
        <h1><i class="fa fa-bars"></i> Yakındaki Projelerin Yönetimi</h1>
        <h4>Bu kısımda tamamlanmış proje ekleyip silebilir veya düzenleyebilirsiniz</h4>
    </div>
</div>@*Header 1*@

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Yakındaki Proje Yönetimi</li>
    </ul>
</div>@*Header 2*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-gavel"></i>Yakında Gelicek Proje Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Project/AddSoonProject" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-wizard" id="form-wizard-1">
                        <ul class="row steps">
                            <li class="col-xs-12 col-sm-6 col-lg-3" id="StepOne">
                                <a class="step">
                                    <span class="number">1</span>
                                    <span class="desc"><i class="fa fa-check"></i> Genel Bilgiler</span>
                                </a>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-lg-3" id="StepTwo">
                                <a class="step">
                                    <span class="number">2</span>
                                    <span class="desc"><i class="fa fa-check"></i> İletişim Bilgileri</span>
                                </a>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-lg-3" id="StepFour">
                                <a class="step">
                                    <span class="number">3</span>
                                    <span class="desc"><i class="fa fa-check"></i> Onayla & Kaydet</span>
                                </a>
                            </li>
                        </ul>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1-1">
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <!-- BEGIN Left Side -->
                                            <div class="form-group">
                                                <label for="textfield1" class="col-xs-3 col-lg-2 control-label">* İsim : </label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <input type="text" style="color:#000000" id="PName" name="Name" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma proje ismini giriniz..." data-original-title="Proje İsmi" data-placement="left" placeholder="Proje İsim">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password1" class="col-xs-3 col-lg-2 control-label">* Tipi :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <select class="form-control" name="Type" data-placeholder="Choose a Category" tabindex="1" id="Ptype">
                                                        <option value="Plaza">Plaza</option>
                                                        <option value="IsMerkezi">İş Merkezi</option>
                                                        <option value="Fabrika">Fabrika</option>
                                                        <option value="Villa">Villa</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea2" class="col-xs-3 col-lg-2 control-label">* İçerik :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <textarea name="Content" class="form-control ckeditor"></textarea>
                                                </div>
                                            </div>
                                            <!-- END Left Side -->
                                        </div>
                                        <div class="col-md-6 ">
                                            <!-- BEGIN Right Side -->
                                            <div class="form-group">
                                                <label for="textfield2" class="col-xs-3 col-lg-2 control-label">* Bütçe :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <input type="text" style="color:#000000" name="Bugdet" id="PBudget" class="form-control show-popover" onkeypress="return OnlyNumber();" data-trigger="hover" data-content="Bu kısıma projenin bütçe aralığını giriniz..." data-original-title="Proje Bütçesi" data-placement="left" placeholder="Proje Bütçe">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Location" class="col-xs-3 col-lg-2 control-label">* Birim :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <select class="form-control" name="Birim" id="PBirim" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value="TurkLirasi">Türk Lirası (TL)</option>
                                                        <option value="AmerikanDolari">Amerikan Doları ($)</option>
                                                        <option value="Euro">Euro (€)</option>
                                                        <option value="Pound">Pound(£)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tel" class="col-xs-3 col-lg-2 control-label">* Yıl :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <select class="form-control" name="Year" id="PYear" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value="2019">2019</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2016">2016</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                                    <input type="button" class="btn btn-primary" onclick="StepControl1()" style="float:right;" value="Devam Et" />
                                                    <h6 style="float:left">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>
                                                </div>
                                            </div>

                                            <!-- END Right Side -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab1-2">
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <!-- BEGIN Left Side -->
                                            <div class="form-group">
                                                <label for="Location" class="col-xs-3 col-lg-2 control-label">* Zaman :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <select class="form-control" name="Zaman" id="PTime" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value="Hafta-İçi(9:00-17:00)">Hafta-İçi(9:00-17:00)</option>
                                                        <option value="Hafta-İçi(9:00-17:00),Cumartesi(9:00-13:00)">Hafta-İçi(9:00-17:00),Cumartesi(9:00-13:00)</option>
                                                        <option value="Cumartesi-Pazar(10:30-15:00)">Cumartesi-Pazar(10:30-15:00)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tel" class="col-xs-3 col-lg-2 control-label">* Telefon :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <input class="form-control col-md-5 show-popover" onkeypress="return OnlyNumber();" name="Telefon" id="PPhone" type="text" style="color:#000000" maxlength="10" placeholder="Telefon Numarası" data-trigger="hover" data-content="Bu kısıma projenizin telefon numarasını giriniz..." data-original-title="Proje Telefon" data-placement="left">
                                                    <span class="help-inline">(212) 212-2121</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Email" class="col-xs-3 col-lg-2 control-label">* E-Mail : </label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">@@</span>
                                                        <input class="form-control show-popover" style="color:#000000" id="PEMail" name="EMail" type="text" placeholder="Email" data-trigger="hover" data-content="Bu kısıma projenizin E-posta adresini giriniz..." data-original-title="Proje E-Posta" data-placement="left">

                                                    </div>
                                                    <span class="help-inline">deneme@deneme.com</span>
                                                </div>
                                            </div>
                                            <!-- END Left Side -->
                                        </div>
                                        <div class="col-md-6 ">
                                            <!-- BEGIN Right Side -->
                                            <div class="form-group">
                                                <label for="password1" class="col-xs-3 col-lg-2 control-label">Konum :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <input class="form-control show-popover" id="PLocation" value="İstanbul,Turkiye" disabled name="Location" type="text" data-placement="top">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea2" class="col-xs-3 col-lg-2 control-label">* Adres :</label>
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    <textarea name="Adres" id="PAdress" rows="5" class="form-control show-popover" data-trigger="hover" style="color:#000000" data-content="Bu kısıma projenizin adres bilgisini giriniz..." data-original-title="Proje Adres" data-placement="left" placeholder="Adres içeriği giriniz..."></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                                    <input type="button" class="btn btn-primary" onclick="StepControl2()" style="float:right;" value="Devam Et" />
                                                    <h6 style="float:left">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>
                                                </div>
                                            </div>
                                            <!-- END Right Side -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab1-4">
                                <div class="box-content">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">İsim :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblIsim"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Tip :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblType"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Bütçe :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblBugdet"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Birim :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblBirim"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Yıl :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblYear"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Zaman :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblTime"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Telefon :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblPhone"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Adres :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblAdress"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Konum :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblLocation"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">E-Mail :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblEmail"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                            <button type="submit" id="button-save" class="btn btn-primary" style="float:right; margin-right: 50px;">Onayla & Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>@*Add Complete Project Form*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yakında Gelicek Projeler</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-left">
                    @using (Html.BeginForm("SoonProjects", "Project", FormMethod.Post))
                    {
                        <div class="btn-group" style="margin-left:5px">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Arama..", style = "color:#000000", required = "required" })
                        </div>
                        <div class="btn-group">
                            <input type="submit" style="margin-left:10px;height:34px" value="Ara" class="btn btn-info" />
                        </div>
                    }
                </div>
                @using (Html.BeginForm("SoonProjectMultipleDelete", "Project", FormMethod.Post))
                {
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                            <button type="submit" class="btn btn-circle show-tooltip" title="Silme"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="Yenile" href="@Url.Action("SoonProjects", "Project")"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive" style="margin-top:10px">
                        <table class="table table-advance">
                            <thead>
                                <tr>
                                    <th style="width:18px"><input type="checkbox" /></th>
                                    <th>ID</th>
                                    <th>@Html.ActionLink("Proje İsmi", "SoonProjects", new { Sorting_Order = ViewBag.ProjectName, currentFilter = ViewBag.CurrentFilter }, new { @class = "cssMenu" })    <span style="margin-left:2px" data-trigger="hover" data-content="Başlığa Tıklarsanız Veriler A'dan Z'ye Sıralanır" data-original-title="Bilgilendirme" data-placement="top" class="fa fa-question-circle show-popover"></span></th>
                                    <th>Resimler</th>
                                    <th>Ekip Üyeleri</th>
                                    <th>Proje Tipi</th>
                                    <th>Proje Bütçesi</th>
                                    <th>Para Birimi</th>
                                    <th>Bitiş Yılı</th>
                                    <th>Proje İçerik</th>
                                    <th>Çalışma Saatleri</th>
                                    <th>Telefon</th>
                                    <th>Adres</th>
                                    <th>E-Mail</th>
                                    <th>İncele</th>
                                    <th>Düzenle</th>
                                    <th>Silme</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="table-flag-blue">
                                        <td><input type="checkbox" name="idler" id="@item.ID" value="@item.ID" /></td>
                                        <td>@item.ID</td>
                                        <td>@item.ProjectName</td>
                                        <td>
                                            @foreach (var picture in item.ProjectPicture.Where(x => x.ProjectID == item.ID))
                                        {
                                            <ul class="gallery">
                                                <li>
                                                    <a href="~/Dosyalar/@picture.PictureURL" class="show-tooltip" title="Resmi İnceleyin" rel="prettyPhoto">
                                                        <div>
                                                            <span class="fa fa-image"></span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    </td>
                                    <td>Ekip</td>
                                    <td>
                                        @item.ProjectType
                                    </td>
                                    <td>@item.ProjectBudgets</td>
                                    <td>@item.ProjectMoneyType</td>
                                    <td>
                                        @item.ProjectYear
                                    </td>
                                    <td>@item.ProjectContent</td>
                                    <td>@item.ProjectWorkingTimes</td>
                                    <td>@item.ProjectPhone</td>
                                    <td>@item.ProjectLocation</td>
                                    <td>@item.ProjectMail</td>
                                    <td><a class="btn btn-sm show-tooltip" target="_blank" title="Düzenleme" href="@Url.Action("CompleteProjectUpdate", "Project")/@item.ID"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="@Url.Action("SoonProjectUpdate", "Project")/@item.ID"><i class="fa fa-edit"></i></a></td>
                                    <td><a class="btn btn-danger show-tooltip" title="Düzenleme" href="@Url.Action("SoonProjectDelete", "Project")/@item.ID"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("SoonProjects", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                        </ul>
                    </div>
                    <div class="text-right" style="font-size:14px">
                        Toplam:@(Html.Raw(ViewBag.HtmlStr)) sonuç
                    </div>
                }
            </div>
        </div>
    </div>
</div>@*Complete Project List*@

<footer>
    <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer> @*Footer*@

@*Scripts Down Here*@
<style type="text/css">
    .cssMenu {
        color: #888;
    }

        .cssMenu:hover {
            color: #0094ff;
        }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        var elem = $("#StepOne");
        elem.addClass("active");
    });


    function StepControl1() {
        var maincontent = CKEDITOR.instances.Content.getData();

        if ($("#PName").val() == "" || $("#PBudget").val() == "" || maincontent.length == 0) {
            alert("Lütfen eksiksiz veri girişi yapınız..");
        } else {
            var elem = $("#StepOne");
            elem.removeClass("active");
            var elem2 = $("#StepTwo");
            elem2.addClass("active");
            elem2.attr("aria-expanded", "true");
            $("#tab1-1").removeClass("active");
            var dataDiv = $("#tab1-2");
            dataDiv.addClass("active");
        }
    }

    function StepControl2() {

        if ($("#PTime").val() == "" || $("#PPhone").val() == "" || $("#PEMail").val() == "" || $("#PLocation").val() == "" || $("#PAdress").val() == "") {
            alert("Lütfen eksiksiz veri girişi yapınız..");

        } else {
            var elem2 = $("#StepTwo");
            elem2.removeClass("active");
            var elem3 = $("#StepFour");
            elem3.addClass("active");
            elem3.attr("aria-expanded", "true");
            var dataDiv = $("#tab1-2");
            dataDiv.removeClass("active");
            var dataDiv2 = $("#tab1-4");
            dataDiv2.addClass("active");

            $("#LblIsim").text($("#PName").val());
            $("#LblType").text($("#Ptype").val());
            $("#LblBugdet").text($("#PBudget").val());
            $("#LblBirim").text($("#PBirim").val());
            $("#LblYear").text($("#PYear").val());
            $("#LblTime").text($("#PTime").val());
            $("#LblPhone").text($("#PPhone").val());
            $("#LblAdress").text($("#PAdress").val());
            $("#LblLocation").text($("#PLocation").val());
            $("#LblEmail").text($("#PEMail").val());
        }

    }


    var _counter = 0;
    function AddPictureForm() {

        _counter++;
        if (_counter <= 4) {

            var elem = $("#tab1-3").find(".box-content");

            elem.append("<div class='form-group' id='data" + _counter + "'>" +
                                            "<label class='col-sm-3 col-lg-2 control-label'>* Proje Resmi:</label>" +
                                            "<div class='col-sm-9 col-lg-10 controls'>" +
                                                "<div class='fileupload fileupload-new' data-provides='fileupload'>" +
                                                    "<div class='fileupload-new img-thumbnail' style='width: 200px; height: 150px;'>" +
                                                        "<img src='/Content/noimage.gif' alt=''>" +
                                                    "</div>" +
                                                    "<div class='fileupload-preview fileupload-exists img-thumbnail' style='max-width: 200px; max-height: 150px; line-height: 20px;'></div>" +
                                                    "<div>" +
                                                        "<span class='btn btn-default btn-file'>" +
                                                            "<span class='fileupload-new'>Resim Seç</span>" +
                                                            "<span class='fileupload-exists'>Değiştir</span>" +

                                                            "<input required='' oninvalid='this.setCustomValidity('Ofis Resimlerini Boş Geçemezsiniz')' type='file' accept='image/*' oninput='setCustomValidity('')' name='uploadFile" + _counter + "' id='uploadFile" + _counter + "' name='CommentPicture' class='file-input'>" +
                                                        "</span>" +
                                                        "<a href='#' class='btn btn-default fileupload-exists' data-dismiss='fileupload'>Sil</a>" +
                                                    "</div>" +
                                                "</div>" +

                                                "<span class='help-inline' onclick='AddPictureForm()' style='color:#0090ff; cursor:pointer;'>Daha Fazla Resim Ekle</span>" +
                                                "<span class='help-inline' onclick='DeletePictureForm(" + _counter + ")' dataId='data" + _counter + "' style='color: #ff0000;cursor: pointer;margin-left: 15px;'>İptal Et</span>" +

                                            "</div>" +
                                        "</div>");
        } else {

            alert("Maksimum 5 Proje Resmi Ekleyebilirsiniz...");
            _counter = 0;
        }

    }

    function DeletePictureForm(_counter) {

        var elem = $(".box-content").find("#data" + _counter + "");
        elem.fadeOut(1000);
        _counter = 0;
    }
    function OnlyNumber() {
        if ((event.keyCode < 48) || (event.keyCode > 57)) {
            return false;
        }
    }

</script>@*Control Scripts*@
<script src="~/Content/AdminContent/js/buttonActions.js"></script>
<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
