@{
    ViewBag.Title = "Avantajlarimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>AVANTAJLARIMIZ</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Avantajlarımız</li>
            </ol>
        </div>
    </div>
</section>


<section class="container">
    <div class="row padding-tb50">
        <div class="col-md-9 col-sm-8">
            <!--start body content-->
            <div class="padding-b25">
                <div class="piko-title4 widget nom">
                    <h3><span class="line"></span><span class="text">BAŞLIK</span></h3>
                </div>
                <p class="padding-t10">Let's proceed on the assumption that you're taking out an individual construction loan. Such loans, which can be tough to get without a previous banking history because of the lack of collateral (a finished home), have special guidelines and include monitoring to ensure timely completion so your repayment can begin promptly.</p>
                <P>construction loans are typically short term with a <mark>maximum of 10 year</mark>, and have variable rates that move up and down with the prime rate.</P>
                <p>Let's proceed on the assumption that you're taking out an individual construction loan. Such loans, which can be tough to get without a previous banking history because of the lack of collateral (a finished home), have special guidelines and include monitoring to ensure timely completion so your repayment can begin promptly.</p>
            </div>
            <div class="margin-b30">
                <!-- brochure doenliad -->
                <div class="row margin-o-auto no-gutter1">
                    <!--initial costing table-->
                    <div class="col-md-6">
                        <div class="piko-title4 widget">
                            <h3><span class="line"></span><span class="text">Ortalama Fiyatlarımız</span></h3>
                        </div>
                        <!--our architecture-->
                        <table class="table table-striped margin-t20">
                            <tbody>
                                <tr><td>1+1 Daire Fiyat</td><td>$1000- $1200</td></tr>
                                <tr><td>2+1 Daire Fiyat</td><td>$200- $250</td></tr>
                                <tr><td>3+1 Daire Fiyat</td><td>$10- $20 ms2</td></tr>
                                <tr><td>Müstakil Villa Fiyat</td><td>$200- $400</td></tr>
                            </tbody>
                        </table>
                    </div>  <!--end initial costing table-->
                    <div class="col-md-6">
                        <div class="piko-title4 widget">
                            <h3><span class="line"></span><span class="text">Resim Başlık</span></h3>
                        </div>
                        <!--carousel-->
                        <div class="media">
                            <img src="/Content/pikocon_html/images/body/banner2.jpg" class="img-responsive carer-banner" alt="carer banner" />
                        </div>
                    </div>  <!--end of col-->
                </div> <!--end of row-->
            </div> <!--end of margin bottom-->
        </div> <!--end body content-->
        <!--right side menu-->
        <div class="col-md-3 col-sm-4">
            <div class="list-group custom-list">
                <a href="@Url.Action("Avantajlarimiz","Home")" class="list-group-item active">Avantajlarımız</a>
                <a href="@Url.Action("SatisSonuHizmetler","Home")" class="list-group-item">Satış Sonu Hizmetlerimiz</a>
                <a href="@Url.Action("IkinciElSatis","Home")" class="list-group-item">2.ci El Satışlarımız</a>
                <a href="@Url.Action("ProjeGelistirme","Home")" class="list-group-item">Proje Geliştirme</a>
                <a href="@Url.Action("ProjeSatis","Home")" class="list-group-item">Proje Satış</a>
                <a href="@Url.Action("ProjePazarlama","Home")" class="list-group-item">Proje Pazarlama</a>
            </div>
            <!--company addresss-->
            <address class="padding-t30">
                <strong>PROJE KULÜBÜ TÜRKİYE</strong><br>
                İstanbul , Turkey<br>
                Konum<br>
            </address>
            <abbr title="Phone Number"><strong>Telefon:</strong></abbr> 541 557 36 10<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> 541 557 36 10<br>
            <abbr title="Email Address"><strong>E-mail:</strong></abbr> info@projekulubuturkiye.com
        </div> <!--end side menu-->
    </div> <!-- end of row-->
</section>