@model PagedList.IPagedList<ProjeKulubu.Models.Blog>
@using PagedList.Mvc
@using ProjeKulubu.Models

@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var popList = (from x in db.Blog orderby x.BlogViewCount descending select x).Take(3);
    var newList = (from x in db.Blog orderby x.ID descending select x).Take(3);
    var tagsList = (from x in db.Tags orderby x.ID descending select x).Take(20);
}

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>MAKALELE YAZILARIMIZ</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Makaleler</li>
            </ol>
        </div>
    </div>
</section>

<section class="padding-tb50">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                @foreach (var item in Model)
                {
                        <div class="row team1">
                            <div class="col-sm-12 col-md-12">
                                <!--post box-->
                                <div class="box">
                                    <!--blog date-->
                                    <div class="blog_date2">
                                        <p><span>27 ŞUBAT</span> 2015</p>
                                        @*<p>03 <span>omments</span></p>*@
                                    </div>
                                    <!--blog image-->
                                    <figure>
                                        <img src="~/Dosyalar/@item.BlogPictureURL">
                                    </figure> <!--end blog image-->
                                    <!--blog caption-->
                                    <div class="caption">
                                        <h2>@item.BlogTitle</h2>
                                        <ul class="piko-li">
                                            <li><i class="fa fa-user"></i> Yazar :</li>

                                            <li>
                                                <i class="fa fa-tags"></i>
                                                @foreach (var tags in item.Tags.Where(x => x.BlogID == item.ID))
                                                {<a href="#">#@tags.TagsName   </a>} <a href="#"></a>
                                            </li>

                                            <li><i class="fa fa-search"></i>@item.BlogViewCount</li>
                                        </ul>
                                        <p>@item.BlogContent</p>
                                            <a href="@Url.Action("BlogSingle", "Home")/@item.ID">Devamını Oku</a>
                                    </div> <!--end blog caption-->
                                </div>  <!--end post box-->
                            </div> <!--end post-->
                            <!--end post-->
                        </div>  <!--end of row-->

                }
                <!--start pagination-->
                <div class="custom-pagi">
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Blog", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                    </ul>
                </div>
                <!--end of pagination-->
            </div>
            <div class="col-md-4 col-sm-5">
                <!--tab content-->
                <!--tab content-->
                <!--tab filter-->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionA"> Popüler</a></li>
                    <li><a data-toggle="tab" href="#sectionB"> Yeni</a></li>
                </ul>  <!--tab filter-->
                <!--tab body content-->
                <div class="tab-content tab-widget">
                    <div id="sectionA" class="tab-pane fade in active">
                        <!--tab post-->
                    @foreach (var item in popList)
                    {
                        <div class="media">
                            <div class="media-left">
                                <a href="@Url.Action("BlogSingle","Home")/@item.ID">
                                    <img class="media-object" src="~/Dosyalar/@item.BlogPictureURL" alt="@item.BlogPictureSEO">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="@Url.Action("BlogSingle","Home")/@item.ID">@item.BlogTitle</a><br>
                                <p>@item.BlogDate</p>
                            </div>
                        </div>   <!--end tab post-->
                    }
                        
                    </div>   <!--end of section a-->
                    <!--section b-->
                    <div id="sectionB" class="tab-pane fade">
                    @foreach (var item in newList)
                    {
                        <div class="media">
                            <div class="media-left">
                                <a href="@Url.Action("BlogSingle","Home")/@item.ID">
                                    <img class="media-object" alt="@item.BlogPictureSEO" src="~/Dosyalar/@item.BlogPictureURL">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="@Url.Action("BlogSingle","Home")/@item.ID">@item.BlogTitle</a><br>
                                <p>@item.BlogDate</p>
                            </div>
                        </div>
                    }
                        
                    </div> <!--end section b-->
                </div> <!--End tabs-->
                <!--start archive-->
                <div class="margin-b30">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">Arşiv</span></h3>
                    </div><br>
                    <div class="archive">
                        <a href="#">Ocak 2015</a>
                        <a href="#">Şubat 2015</a>
                        <a href="#">Mart 2015</a>
                        <a href="#">Nisan 2014</a>
                        <a href="#">Mayıs  2014</a>
                    </div>
                </div>
                <!--start tag-->
                <div class="margin-b30">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">Etiketler</span></h3>
                    </div><br>
                    <div class="footer2-box">
                        @foreach (var item in tagsList)
                        {
                            <a href="@Url.Action("BlogSingle","Home")/@item.Blog.ID" class="btn-s5 gray3" title="@item.Blog.BlogTitle">@item.TagsName</a>

                        }
                        
                    </div>
                </div>  <!--end start tag-->
            </div>  <!--end of col-->
        </div> <!--end of row-->
    </div> <!--end of container-->
</section>
