@using ProjeKulubu.Models
@model Blog
@{
    ViewBag.Title = "BlogSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(!(IsPost))
{
    db2299D218BEEntities10 dB = new db2299D218BEEntities10();
    Blog updateBlog = dB.Blog.Where(x => x.ID == Model.ID).FirstOrDefault();
    int newCount = Convert.ToInt32(Model.BlogViewCount);
    newCount++;
    updateBlog.BlogViewCount = newCount;
    dB.SaveChanges();
}

@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var tagsList = db.Tags.Where(x => x.BlogID == x.Blog.ID).ToList();
}
<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>@Model.BlogTitle</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li><a href="@Url.Action("Blog","Home")">Makale</a></li>
                <li class="active">@Model.BlogTitle</li>
            </ol>
        </div>
    </div>
</section>
<section class="padding-tb50">
    <div class="container">
        <div class="row team1">
            <div class="col-lg-12 col-md-8 col-sm-7">
                <div class="box">
                    <!--blog image-->
                    <figure>
                        <img src="~/Dosyalar/@Model.BlogPictureURL" alt="service" style="width:100%" class="img-responsive">
                    </figure> <!--end blog image-->
                    <!--blog caption-->
                    <div class="caption">
                        <h2>@Model.BlogTitle</h2>
                        <ul class="piko-li">
                            <li><i class="fa fa-calendar"></i>@Model.BlogDate</li>
                            <li>
                                <i class="fa fa-tags"></i>
                                @foreach (var tags in tagsList)
                                {
                                    <a href="#">#@tags.TagsName  </a>
                                }
                                
                            </li>
                            <li><i class="fa fa-search"></i>@Model.BlogViewCount</li>
                        </ul>
                        <p>@Model.BlogContent</p>
                    </div> <!--end blog caption-->
                </div>  <!--end post box-->
                <!--shrear icon-->
                <div class="blog-view margin-t40 clearfix">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h4 class="padding-t10"> Makaleyi Paylaş:</h4>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="social-share">
                            <ul>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!--end shrear icon-->
            </div> <!--end col 9-->
            <!--right slide bar-->
              <!--end of col-->
        </div> <!--end of row-->
    </div> <!--end of container-->
</section>