@using ProjeKulubu.Models
@model Education
@{
    ViewBag.Title = "Egitim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var takingList = db.Education.Where(x => x.EducationTypeID == 1).ToList();
    var takePopList = (from x in takingList orderby x.EducationView descending select x).Take(3);
    var takeNewList = (from x in takingList orderby x.ID descending select x).Take(3);

    var givingList = db.Education.Where(x => x.EducationTypeID == 2).ToList();
    var givePopList = (from x in givingList orderby x.EducationView descending select x).Take(3);
    var giveNewList = (from x in givingList orderby x.ID descending select x).Take(3);
}

@if (!(IsPost))
{
    Education updateEdu = db.Education.Where(x => x.ID == Model.ID).FirstOrDefault();
    int newCount = Convert.ToInt32(Model.EducationView);
    newCount++;
    updateEdu.EducationView = newCount;
    db.SaveChanges();

    
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>@Model.EducationTitle</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li><a href="@Url.Action("Egitimlerimiz","Home")">Eğitimlerimiz</a></li>
                <li>@if (!(IsPost))
                {
                    if (Model.EducationTypeID == 1)
                    {
                        <a href="@Url.Action("AldigimizEgitimler","Home")">Aldığımız Eğitimler</a>
                    }
                    else
                    {
                        <a href="@Url.Action("VerdigimizEgitimler","Home")">Verdiğimiz Eğitimler</a>
                    }
                }</li>
                <li class="active">@Model.EducationTitle</li>
            </ol>
        </div>
    </div>
</section> <!--sub end title-->

<section class="padding-tb50">
    <div class="container">
        <div class="row team1">
            <div class="col-lg-9 col-md-8 col-sm-7">
                <div class="box">
                    <!--blog image-->
                    <figure>
                        <img src="~/Dosyalar/@Model.EducationFileURL" alt="@Model.EducationFileSEO" class="img-responsive">
                    </figure> <!--end blog image-->
                    <!--blog caption-->
                    <div class="caption">
                        <h2>@Model.EducationTitle</h2>
                        <ul class="piko-li">
                            <li><i class="fa fa-calendar"></i>@Model.EducationDate</li>
                            <li><i class="fa fa-search"></i>@Model.EducationView</li>
                        </ul>
                        <p>@Model.EducationContent </p>
                    </div> <!--end blog caption-->
                </div>  <!--end post box-->
                <!--shrear icon-->
                <div class="blog-view margin-t40 clearfix">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h4 class="padding-t10"> Eğitimi Paylaş:</h4>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="social-share">
                            <ul>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!--end shrear icon-->
            </div> <!--end col 9-->
            <!--right slide bar-->
            <div class="col-lg-3 col-md-4 col-sm-5">
                <!--tab content-->
                <!--tab filter-->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionA"> Popüler</a></li>
                    <li><a data-toggle="tab" href="#sectionB"> Yeni</a></li>
                </ul>  <!--tab filter-->
                <!--tab body content-->
                <div class="tab-content tab-widget">
                    <div id="sectionA" class="tab-pane fade in active">
                        <!--tab post-->
                        @if(Model.EducationTypeID==1)
                        {
                            foreach (var takepop in takePopList)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="@takepop.ID">
                                            <img class="media-object" src="~/Dosyalar/@takepop.EducationFileURL" alt="@takepop.EducationFileSEO">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="@takepop.ID">@takepop.EducationTitle</a><br>
                                        <p>@takepop.EducationDate</p>
                                    </div>
                                </div>   <!--end tab post-->
                            }
                        }
                        @if (Model.EducationTypeID == 2)
                        {
                            foreach (var givepop in givePopList)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="@givepop.ID">
                                            <img class="media-object" src="~/Dosyalar/@givepop.EducationFileURL" alt="@givepop.EducationFileSEO">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="@givepop.ID">@givepop.EducationTitle</a><br>
                                        <p>@givepop.EducationDate</p>
                                    </div>
                                </div>   <!--end tab post-->
                            }
                        }
                  
                    </div>   <!--end of section a-->
                    <!--section b-->
                    <div id="sectionB" class="tab-pane fade">
                        @if (Model.EducationTypeID == 1)
                        {
                            foreach (var takenew in takeNewList)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="@takenew.ID">
                                            <img class="media-object" src="~/Dosyalar/@takenew.EducationFileURL" alt="@takenew.EducationFileSEO">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="@takenew.ID">@takenew.EducationTitle</a><br>
                                        <p>@takenew.EducationDate</p>
                                    </div>
                                </div>
                            }
                        }
                        @if (Model.EducationTypeID == 2)
                        {
                            foreach (var givenew in giveNewList)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="@givenew.ID">
                                            <img class="media-object" src="~/Dosyalar/@givenew.EducationFileURL" alt="@givenew.EducationFileSEO">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="@givenew.ID">@givenew.EducationTitle</a><br>
                                        <p>@givenew.EducationDate</p>
                                    </div>
                                </div>
                            }
                        }
                       
                    </div> <!--end section b-->
                </div> <!--End tabs-->
                <!--start archive-->
                <div class="margin-b30">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">Arşiv</span></h3>
                    </div><br>
                    <div class="archive">
                        <a href="#">Ocak 2015</a>
                        <a href="#">Şubat 2015</a>
                        <a href="#">Mart 2015</a>
                        <a href="#">Nisan 2014</a>
                        <a href="#">Mayıs  2014</a>
                    </div>
                </div>  <!--end start archive-->
                <!--start tag-->
                  <!--end start tag-->
            </div>  <!--end of col-->
        </div> <!--end of row-->
    </div> <!--end of container-->
</section>
<!--start blog comment-->
