@model PagedList.IPagedList<ProjeKulubu.Models.Team>
@using PagedList.Mvc

@{
    ViewBag.Title = "Ekip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>EKİP ÜYELERİMİZ</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Ekip Üyelerimiz</li>
            </ol>
        </div>
    </div>
</section>

<!--board of members team-->
<section class="padding-tb75 team1 team-m">
    <div class="container">
        <!--heading-->
        <div class="piko-title9">
            <h3>PROJE KULÜBÜ TÜRKİYE</h3>
            <hr>
            <p>EKİBİMİZ</p>
        </div> <!--end heading-->
        <div id="team-member" class="row" >

            @foreach (var item in Model)
            {
                <div class="item col-sm-6 col-md-3" >
                    <div class="box">
                        <figure>
                            <img style="width:100%;height:175px" src="~/Dosyalar/@item.MemberPictureURL" alt="@item.MemberPictureSEO">
                            <figcaption>
                                <i>
                                    <a href="@item.MemberFacebookURL" target="_blank" class="fa fa-facebook"></a>
                                    <a href="@item.MemberGoogleURL" target="_blank" class="fa fa-google-plus"></a>
                                    <a href="@item.MemberTwitterURL" target="_blank" class="fa fa-twitter"></a>
                                    <a href="@item.MemberLinkedinURL" target="_blank" class="fa fa-linkedin"></a>
                                </i>
                            </figcaption>
                        </figure>
                        <div class="caption">
                            <div class="piko-title6 two">
                                <a href="@Url.Action("EkipSingle","Home")/@item.ID"><h4><strong>@item.MemberName</strong></h4></a>
                                <hr>
                                <span>@item.MemberPozision</span>
                                <br />
                                <span>@if (!(IsPost))
                                {
                                    if (@item.MemberExperience == "1")
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    if (@item.MemberExperience == "2")
                                    {
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    }
                                    if (@item.MemberExperience == "3")
                                    {
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    }
                                    if (@item.MemberExperience == "4")
                                    {
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    }
                                    if (@item.MemberExperience == "5")
                                    {
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    }
                                }</span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                                    }
            <div class="clearfix"></div>
        </div> <!--end of teammember-->

        <div class="margin-tb25">
            <!--start pagination-->
            <div class="container">
                <div class="custom-pagi">
                    <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Ekip", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                    </ul>
                </div>
            </div>
            <!--end of pagination-->
        </div>

    </div> <!--end of container-->
</section>
