@{
    ViewBag.Title = "IkinciElSatis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>İKİNCİ EL SATIŞ</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">İkinci El Satış</li>
            </ol>
        </div>
    </div>
</section>

<section class="container">
    <div class="row padding-tb50">
        <div class="col-md-9 col-sm-8">
            <!--start body content-->
            <div class="row">
                <div class="team1 service">
                    <!-- end of item -->
                    <div class="team col-md-4 col-sm-6">
                        <div class="box">
                            <figure>
                                <img src="~/Content/noimage.gif" alt="service">
                            </figure>
                            <div class="caption">
                                <h2>Başlık</h2>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Devamını Oku</a>
                            </div>
                        </div>
                    </div> <!-- end of item -->
                    <!-- start item -->
                    <div class="team col-md-4 col-sm-6">
                        <div class="box">
                            <figure>
                                <img src="~/Content/noimage.gif" alt="construction service">
                            </figure>
                            <div class="caption">
                                <h2>Başlık</h2>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Devamını Oku</a>
                            </div>
                        </div>
                    </div><!-- end of item -->
                    <!-- start item -->
                    <div class="team col-md-4 col-sm-6">
                        <div class="box">
                            <figure>
                                <img src="~/Content/noimage.gif" alt="construction service">
                            </figure>
                            <div class="caption">
                                <h2>Başlık</h2>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Devamını Oku</a>
                            </div>
                        </div>
                    </div> <!-- end of item -->
                    <!-- start of item -->
                    <div class="team col-md-4 col-sm-6">
                        <div class="box">
                            <figure>
                                <img src="~/Content/noimage.gif" alt="construction service">
                            </figure>
                            <div class="caption">
                                <h2>Başlık</h2>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Devamını Oku</a>
                            </div>
                        </div>
                    </div> <!-- end of item -->
                    <!-- start item -->
                    <div class="team col-md-4 col-sm-6">
                        <div class="box">
                            <figure>
                                <img src="~/Content/noimage.gif" alt="construction service">
                            </figure>
                            <div class="caption">
                                <h2>Başlık</h2>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Devamını Oku</a>
                            </div>
                        </div>
                    </div><!-- end of item -->
                    <!-- start item -->
                    <div class="team col-md-4 col-sm-6">
                        <div class="box">
                            <figure>
                                <img src="~/Content/noimage.gif" alt="construction service">
                            </figure>
                            <div class="caption">
                                <h2>Başlık</h2>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Devamını Oku</a>
                            </div>
                        </div>
                    </div><!-- end of item -->
                </div>
            </div>
        </div> <!--end body content-->
        <!--right side menu-->
        <div class="col-md-3 col-sm-4">
            <div class="list-group custom-list">
                <a href="@Url.Action("Avantajlarimiz","Home")" class="list-group-item">AVANTAJLARIMIZ</a>
                <a href="@Url.Action("SatisSonuHizmetler")" class="list-group-item">SATIŞ SONU HİZMETLER</a>
                <a href="@Url.Action("IkinciElSatis","Home")" class="list-group-item active">2.Cİ EL SATIŞLARIMIZ</a>
                <a href="@Url.Action("ProjeGelistirme","Home")" class="list-group-item">PROJE GELİŞTİRME</a>
                <a href="@Url.Action("ProjeSatis","Home")" class="list-group-item">PROJE SATIŞ</a>
                <a href="@Url.Action("ProjePazarlama","Home")" class="list-group-item">PROJE PAZARLAMA</a>
            </div>
            <!--company addresss-->
            <address class="padding-t30">
                <strong>PIKO CONSTRUCTION INC</strong><br>
                2564 Southern Avenue Floyd<br>
                AF 2356, USA<br>
            </address>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (123) 4567 890<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> (123) 4567 890 22<br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> info@themepiko.com
        </div> <!--end side menu-->
    </div> <!-- end of row-->
</section>
