
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

</script>
<style>


</style>



    <style type="text/css">
        .metin:hover{
            color:#949fb9;
        }
    </style>


<div class="tp-banner-container margin-t70" style="height:380px">
    <div class="tp-banner2">
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="1500">
                <!-- MAIN IMAGE -->
                <img src="~/Content/pikocon_html/images/banner1.jpg" alt="construction" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
                     data-x="200"
                     data-y="50"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span class="left-top corner-border"></span>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
                     data-x="200"
                     data-y="220"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span class="left-bottom corner-border"></span>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
                     data-x="800"
                     data-y="50"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span class="right-top corner-border"></span>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
                     data-x="800"
                     data-y="220"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span class="right-bottom corner-border"></span>
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption slide-title-65 customin customout tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="70"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="600"
                     data-start="1400"
                     data-easing="Power4.easeOut"
                     data-endspeed="600"
                     data-endeasing="Power0.easeIn"
                     style="z-index: 3;font-size:54px">
                    PROJELERİMİZE GÖZ ATIN
                </div>
                <!-- LAYER NR. 6 -->
                <div class="tp-caption slide-title-25 customin customout tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="bottom" data-voffset="-375"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="600"
                     data-start="1400"
                     data-easing="Power4.easeOut"
                     data-endspeed="600"
                     data-endeasing="Power0.easeIn"
                     style="z-index: 3">
                    50 PROJE 124 ÇALIŞAN İLE HİZMET VERMEKTEYİZ
                </div>
                <div class="tp-caption slide-title-25 customin customout tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="bottom" data-voffset="-265"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotat3ionX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="600"
                     data-start="1400"
                     data-easing="Power4.easeOut"
                     data-endspeed="600"
                     data-endeasing="Power0.easeIn"
                     style="z-index: 3">
                    <a class="btn-s5 light2 about-page-banner" href="@Url.Action("Iletisim","Home")">Hemen Tıklayın</a>

                </div>
            </li>
            <!-- SLIDE 2 -->
            @*<li data-transition="random" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="/Content/pikocon_html/images/banner1.jpg" alt="construction" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="115" data-bgpositionend="right bottom">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
                         data-x="200"
                         data-y="190"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        <span class="left-top corner-border"></span>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
                         data-x="200"
                         data-y="330"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        <span class="left-bottom corner-border"></span>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
                         data-x="800"
                         data-y="190"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        <span class="right-top corner-border"></span>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
                         data-x="800"
                         data-y="330"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        <span class="right-bottom corner-border"></span>
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption slide-title-50 customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="240"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="600"
                         data-start="1400"
                         data-easing="Power4.easeOut"
                         data-endspeed="600"
                         data-endeasing="Power0.easeIn"
                         style="z-index: 3">
                        Realize Your Project!
                    </div>
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption slide-title-25 customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="-240"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="600"
                         data-start="1400"
                         data-easing="Power4.easeOut"
                         data-endspeed="600"
                         data-endeasing="Power0.easeIn"
                         style="z-index: 3">
                        We are saving 50% your cost
                    </div>
                </li>*@
        </ul>
    </div>
</div> @*Banner*@

<section class="padding-tb100 pattern3" style="background-color:#ffffff;margin-top:-170px;height:550px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="process wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="media text-right">
                        <div class="media-body">
                            <h4 class="media-heading">AVANTAJLARIMIZ</h4>
                            <a href="@Url.Action("Avantajlarimiz","Home")"><p class="metin">The municipality will probably require a structural inspection to ensure that the home</p></a>
                        </div>
                        <div class="media-right">
                            <div class="process-icon"><i class="fa fa-gavel" style="color:#1e47a8" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="media text-right">
                        <div class="media-body">
                            <h4 class="media-heading"> SATIŞ SONU HİZMETLER</h4>
                            <a href="@Url.Action("SatisSonuHizmetlerimiz","Home")"><p class="metin">Worker safety first priorities At this point, your builder and completing the fina.</p></a>
                        </div>
                        <div class="media-right">
                            <div class="process-icon"><i class="fa fa-child" style="color:#1e47a8" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="media text-right">
                        <div class="media-body">
                            <h4 class="media-heading">2.Cİ EL SATIŞLARIMIZ</h4>
                            <a href="@Url.Action("IkinciElSatis","Home")"><p class="metin">The construction is id turpis cursus. Donec at augue dictum dolor lacinia risus</p></a>
                        </div>
                        <div class="media-right">
                            <div class="process-icon"><i class="fa fa-thumbs-o-up" style="color:#1e47a8" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div><!-- end of process icon -->
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="team1 wow  fadeIn" data-wow-delay="0.5s">
                    <div class="box">
                        <figure>
                            <img src="~/Content/pikocon_html/images/banner12.jpg" alt="">
                        </figure>
                        <!--caption-->
                        <div class="caption">
                            <h4>PROJE KULÜBÜ PROJE SATIŞ</h4>
                            <p>
                                Quisque et hendrerit libero, eu sollicitudin magna. Maecenas pretium dui a nisi lobortis, et ultricies dui efficitur. Suspendisse potenti. Praesent arcu magna, imperdiet imperdiet vulputate nec, aliquam ut velit. In mattis erat lectus, eget iaculis quam facilisis a. Donec dignissim,et ultricies dui efficitur. Suspendisse potenti. Praesent arcu magna, imperdiet imperdiet vulputate nec, aliquam ut velit. In mattis erat lectus, eget iaculis quam facilisis a. Donec <br><br>
                            </p>
                        </div>  <!--end caption-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="process wow fadeInRight" data-wow-delay="0.5s">
                    <div class="media">
                        <div class="media-left">
                            <div class="process-icon"><i class="fa fa-user" style="color:#1e47a8" aria-hidden="true"></i></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">PROJE GELİŞTİRME</h4>
                            <a href="@Url.Action("ProjeGelistirme","Home")"><p class="metin">At this point, your builder and crew are busy completing the final touches and cleaning up.</p></a>
                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInRight" data-wow-delay="0.5s">
                    <div class="media">
                        <div class="media-left">
                            <div class="process-icon"><i class="fa fa-users" style="color:#1e47a8" aria-hidden="true"></i></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">PROJE SATIŞ</h4>
                            <a href="@Url.Action("ProjeSatis","Home")"><p class="metin">The municipality will probably require a structural inspection to ensure that the home built</p></a>
                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInRight" data-wow-delay="0.5s">
                    <div class="media">
                        <div class="media-left">
                            <div class="process-icon"><i class="fa fa-paw" style="color:#1e47a8" aria-hidden="true"></i></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">PROJE PAZARLAMA</h4>
                            <a href="@Url.Action("ProjePazarlama","Home")"><p class="metin">Phasellus luctus turpis ampto cursus. Donec at augue ni a dictum dolor In</p></a>
                        </div>
                    </div>
                </div><!-- end of process icon -->
            </div> <!-- end of column -->
        </div> <!-- end row -->
    </div>
</section> <!--Hizmetlerimiz-->

<div class="get-quote hidden-xs margin-t70 " style="margin-top:-5px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-7 hidden-xs wow fadeInLeft" data-wow-delay="0.5s">
                <div class="layer">
                    <p>Bize  Ulaşmak İçin Numaranızı Bırakın</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-5">
                <div class="text-right">
                    <a class="btn-s5 light2 pull-left wow fadeInRight" data-wow-delay="0.5s" href="@Url.Action("Iletisim","Home")"><i class="fa fa-paper-plane-o"></i> Hemen Tıklayın</a>
                    <a class="btn-s5 light2 pull-left wow fadeInRightBig" data-wow-delay="0.9s" href="@Url.Action("Projeler","Home")">Projelerimize Göz Atın</a>
                </div>
            </div>
        </div>
    </div>
</div> @* Numara birak*@


<section class="padding-tb100 pattern3" style="height:450px;border-bottom:1px solid #DBCBCB99">
    <div class="container">
        <div class="row  no-gutter">
            <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.5s">
                <!--box item-->
                <div class="box">
                    <div class="icon-box" >
                        <div class="image"><i class="fa fa-bars"></i></div>
                        <div class="info white">
                            <h4 class="title">İNSAN KAYNAKLARI</h4>
                            <p>We are ensure that give you Phasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
            <div class="col-xs-6 col-md-3 padding-t20-media-icon  wow fadeInLeftBig" data-wow-delay="0.9s">
                <!--box item-->
                <div class="box">
                    <div class="icon-box">
                        <div class="image"><i class="fa fa-building"></i></div>
                        <div class="info white">
                            <h4 class="title">ARSANI DEĞERLENDİR</h4>
                            <p>Cheeck our quality the discuss Phasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
            <div class="col-xs-6 col-md-3 wow fadeInRightBig" data-wow-delay="0.9s">
                <!--box item-->
                <div class="box">
                    <div class="icon-box">
                        <div class="image"><i class="fa fa-paper-plane-o"></i></div>
                        <div class="info white">
                            <h4 class="title">FARKIMIZ</h4>
                            <p>Piko construction always best in worldPhasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
            <div class="col-xs-6 col-md-3 padding-t20-media-icon  wow fadeInRight"   data-wow-delay="0.5s">
                <!--box item-->
                <div class="box">
                    <div class="icon-box">
                        <div class="image"><i class="fa fa-server"></i></div>
                        <div class="info white">
                            <h4 class="title">MAKALE</h4>
                            <p>The construciton is OUR MISSION Phasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
        </div>
    </div>
</section> @*Kısa Yazılar*@


<div class="fixed-bg bg-img1 scroll " style="height:510px">
    
    <div id="shop-slide" style="padding:100px;margin-top:-80px" class="owl-carousel owl-nav-show-hover margin-t20 zoomiN popup-gallery"
         data-autoplay="ture"
         data-margin="30"
         data-smartspeed="250"
         data-loop="true"
         data-autoheight="false"
         data-nav="true"
         data-dots="true"
         data-items="1">
        <div class="item">
            <a href="/Content/pikocon_html/images/history1.jpg" title="How is the description on that one">
                <img src="/Content/pikocon_html/images/history1.jpg" alt="constructin" class="img-responsive">
            </a>
        </div>
        <div class="item">
            <a href="/Content/pikocon_html/images/history2.jpg" title="How is the description on that one">
                <img src="/Content/pikocon_html/images/history2.jpg" alt="constructin" class="img-responsive">
            </a>
        </div>
        <div class="item">
            <a href="/Content/pikocon_html/images/history3.jpg" title="How is the description on that one">
                <img src="/Content/pikocon_html/images/history3.jpg" alt="constructin" class="img-responsive">
            </a>
        </div>
        <div class="item">
            <a href="/Content/pikocon_html/images/history4.jpg" title="How is the description on that one">
                <img src="/Content/pikocon_html/images/history4.jpg" alt="constructin" class="img-responsive">
            </a>
        </div>
    </div>
    
</div> @*Resimler*@

<div class="row pattern3">
    <section class="container">
        <div class="padding-tb75" style="padding:40px 0px 100px;height:530px">
            <!--heading-->
            <div class="piko-title9 wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
                <h3>Son Eklenen Makaleler</h3>
                <hr>
                <p>Makalelerimizi Keşfedin</p>
            </div> <!--end heading-->
            <!--start post-->
            <div class="team" >
                <div class="col-xs-6 col-md-3 wow fadeInLeft box" data-wow-delay="0.5s">
                    <div class="blog_date"><strong>27 </strong><br><p>ŞUBAT</p></div>
                    <figure>
                        <img src="/Content/pikocon_html/images/body/blog01.jpg" alt="service">
                    </figure>
                    <div class="caption">
                        <h4>Makale Başlığı</h4>
                        <ul class="piko-li">
                            <li><i class="fa fa-calendar"></i>2015</li>
                            <li><i class="fa fa-user"></i>Yazar</li>
                            <li><i class="fa fa-heart-o"></i>10</li>
                        </ul>
                        <p>Makale İçeriği</p>
                        <a href="@Url.Action("BlogSingle","Home")">Devamını Oku</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 wow fadeInLeftBig box" data-wow-delay="0.9s">
                    <div class="blog_date"><strong>27 </strong><br><p>ŞUBAT</p></div>
                    <figure>
                        <img src="/Content/pikocon_html/images/body/blog01.jpg" alt="service">
                    </figure>
                    <div class="caption">
                        <h4>Makale Başlığı</h4>
                        <ul class="piko-li">
                            <li><i class="fa fa-calendar"></i>2015</li>
                            <li><i class="fa fa-user"></i>Yazar</li>
                            <li><i class="fa fa-heart-o"></i>10</li>
                        </ul>
                        <p>Makale İçeriği</p>
                        <a href="@Url.Action("BlogSingle","Home")">Devamını Oku</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 wow fadeInRightBig box" data-wow-delay="0.9s">
                    <div class="blog_date"><strong>27 </strong><br><p>ŞUBAT</p></div>
                    <figure>
                        <img src="/Content/pikocon_html/images/body/blog01.jpg" alt="service">
                    </figure>
                    <div class="caption">
                        <h4>Makale Başlığı</h4>
                        <ul class="piko-li">
                            <li><i class="fa fa-calendar"></i>2015</li>
                            <li><i class="fa fa-user"></i>Yazar</li>
                            <li><i class="fa fa-heart-o"></i>10</li>
                        </ul>
                        <p>Makale İçeriği</p>
                        <a href="@Url.Action("BlogSingle","Home")">Devamını Oku</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 wow fadeInRight box" data-wow-delay="0.5s">
                    <div class="blog_date"><strong>27 </strong><br><p>ŞUBAT</p></div>
                    <figure>
                        <img src="/Content/pikocon_html/images/body/blog01.jpg" alt="service">
                    </figure>
                    <div class="caption">
                        <h4>Makale Başlığı</h4>
                        <ul class="piko-li">
                            <li><i class="fa fa-calendar"></i>2015</li>
                            <li><i class="fa fa-user"></i>Yazar</li>
                            <li><i class="fa fa-heart-o"></i>10</li>
                        </ul>
                        <p>Makale İçeriği</p>
                        <a href="@Url.Action("BlogSingle","Home")">Devamını Oku</a>
                    </div>
                </div>


            </div>
        </div>
    </section> @*Makaleler*@
</div> @*Son Eklenen Makaleler*@




<div class="pattern4">
    <div class="container">
        <div id="partner" class="owl-carousel owl-nav-show-hover"
             data-autoplay="ture"
             data-margin="15"
             data-smartspeed="250"
             data-loop="true"
             data-autoheight="false"
             data-nav="true"
             data-dots="false"
             data-responsive="{&quot;0&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;992&quot;:{&quot;items&quot;:5},&quot;1200&quot;:{&quot;items&quot;:7}}">
            <!--client logo 1-->
            <div class="partner item">
                <img src="~/Content/pikocon_html/images/partner5.png" alt="construction" height="120" width="140" />
            </div> <!--end client logo 1-->
            <!--client logo 2-->
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner2.png" alt="construction" height="120" width="140" />
            </div> <!--client logo 2-->
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner3.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner4.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner5.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner6.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner7.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner8.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner1.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner2.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner3.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner4.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner5.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner6.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner7.png" alt="construction" height="120" width="140" />
            </div>
            <div class="partner item">
                <img src="/Content/pikocon_html/images/partner8.png" alt="construction" height="120" width="140" />
            </div>
        </div>
    </div>
</div> @*Referans*@


@*<section class="padding-t70 padding-b50 bg-gray">
        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="count-icon-box">
                            <img src="/Content/pikocon_html/images/icon/icon-building.jpg" class="" alt="">
                        </div>
                        <div class="count-box"><h2 class="count">15</h2></div>
                        <div class="count-text"><h6>PROJE BİTTİ</h6></div>
                    </div>
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="count-icon-box">
                            <img src="/Content/pikocon_html/images/icon/icon-machine.png" class="" alt="">
                        </div>
                        <div class="count-box"><h2 class="count">10</h2></div>
                        <div class="count-text"><h6>PROJE DEVAM EDİYOR</h6></div>
                    </div>
                    <div class="block wow fadeInUp" data-wow-delay="0.5s">
                        <div class="count-icon-box">
                            <img src="/Content/pikocon_html/images/icon/icon-worker.png" class="" alt="">
                        </div>
                        <div class="count-box"><h2 class="count">55</h2></div>
                        <div class="count-text"><h6>SATILIK DAİRE</h6></div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@ @*Sayim*@

