@using ProjeKulubu.Models

@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var blog1 = db.Blog.OrderByDescending(x => x.ID).FirstOrDefault();
    var blog2 = db.Blog.OrderByDescending(x => x.ID).Skip(1).FirstOrDefault();
    var blog3 = db.Blog.OrderByDescending(x => x.ID).Skip(2).FirstOrDefault();
    var blog4 = db.Blog.OrderByDescending(x => x.ID).Skip(3).FirstOrDefault();
    var referenceList = db.Reference.ToList();

}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style type="text/css"> @*Hizmetlerimiz Stylei*@
    .metin:hover {
        color: #949fb9;
    }
</style>

<div class="tp-banner-container margin-t70">
    <div class="tp-banner2">
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="1500">
                <!-- MAIN IMAGE -->
                <img src="~/Content/bg2.jpg" alt="construction" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">

            </li>
            <!-- SLIDE 2 -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="1500">
                <!-- MAIN IMAGE -->
                <img src="~/Content/bg1.jpg" alt="construction" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="115" data-bgpositionend="right bottom">
                <!-- LAYER NR. 1 -->

            </li>
        </ul>
    </div>
</div>@*Slider*@

<section class="padding-content pattern3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="process wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="media text-right">
                        <div class="media-body">
                            <h4 class="media-heading">AVANTAJLARIMIZ</h4>
                            <a href="@Url.Action("Avantajlarimiz","Home")"><p class="metin">The municipality will probably require a structural inspection to ensure that the home</p></a>
                        </div>
                        <div class="media-right">
                            <div class="process-icon"><i class="fa fa-gavel" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="media text-right">
                        <div class="media-body">
                            <h4 class="media-heading">SATIŞ SONU HİZMETLER</h4>
                            <a href="@Url.Action("SatisSonuHizmetler","Home")"><p class="metin">Worker safety first priorities At this point, your builder and completing the fina.</p></a>                        </div>
                        <div class="media-right">
                            <div class="process-icon"><i class="fa fa-child" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="media text-right">
                        <div class="media-body">
                            <h4 class="media-heading">2.Cİ EL SATIŞLARIMIZ</h4>
                            <a href="@Url.Action("IkinciElSatis","Home")"><p class="metin">The construction is id turpis cursus. Donec at augue dictum dolor lacinia risus</p></a>                        </div>
                        <div class="media-right">
                            <div class="process-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div><!-- end of process icon -->
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="team1 wow  fadeIn" data-wow-delay="0.5s">
                    <div class="box">
                        <figure>
                            <img src="~/Content/banner12.jpg" alt="">
                        </figure>
                        <!--caption-->
                        <div class="caption">
                            <h4>PROJE KULÜBÜ PROJE SATIŞ</h4>
                            <p>
                                Quisque et hendrerit libero, eu sollicitudin magna. Maecenas pretium dui a nisi lobortis, et ultricies dui efficitur. Suspendisse potenti. Praesent arcu magna, imperdiet imperdiet vulputate nec, aliquam ut velit. In mattis erat lectus, eget iaculis quam facilisis a. Donec dignissim,<br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis eu magna non
                            </p>
                        </div>  <!--end caption-->
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="process wow fadeInRight" data-wow-delay="0.5s">
                    <div class="media">
                        <div class="media-left">
                            <div class="process-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">PROJE GELİŞTİRME</h4>
                            <a href="@Url.Action("ProjeGelistirme","Home")"><p class="metin">At this point, your builder and crew are busy completing the final touches and cleaning up.</p></a>                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInRight" data-wow-delay="0.5s">
                    <div class="media">
                        <div class="media-left">
                            <div class="process-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">PROJE SATIŞ</h4>
                            <a href="@Url.Action("ProjeSatis","Home")"><p class="metin">The municipality will probably require a structural inspection to ensure that the home built</p></a>                        </div>
                    </div>
                </div><!-- end of process icon -->
                <div class="process wow fadeInRight" data-wow-delay="0.5s">
                    <div class="media">
                        <div class="media-left">
                            <div class="process-icon"><i class="fa fa-paw" aria-hidden="true"></i></div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">PROJE PAZARLAMA</h4>
                            <a href="@Url.Action("ProjePazarlama","Home")"><p class="metin">Phasellus luctus turpis ampto cursus. Donec at augue ni a dictum dolor In</p></a>                        </div>
                    </div>
                </div><!-- end of process icon -->
            </div> <!-- end of column -->
        </div> <!-- end row -->
    </div>
</section>@*Informations Words*@

<div class="get-quote margin-t70 hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-7 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="layer">
                    <p>Bize Ulaşmak İçin Numaranızı Bırakın</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-5">
                <div class="text-right">
                    <a class="btn-s5 light2 pull-left wow fadeInRight" data-wow-delay="0.5s" href="@Url.Action("Iletisim","Home")"><i class="fa fa-paper-plane-o"></i> Hemen Tıklayın</a>
                    <a class="btn-s5 light2 pull-left wow fadeInRightBig" data-wow-delay="0.5s" href="@Url.Action("Projeler","Home")">Projelerimize Bakın</a>
                </div>
            </div>
        </div>
    </div>
</div> @*Contact Us*@

<section class="padding-tb100 pattern3">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-xs-6 col-md-3">
                <!--box item-->
                <div class="box wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="icon-box">
                        <div class="image"><i class="fa fa-university"></i></div>
                        <div class="info white">
                            <h4 class="title">İNSAN KAYNAKLARI</h4>
                            <p>We are ensure that give you Phasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
            <div class="col-xs-6 col-md-3">
                <!--box item-->
                <div class="box wow fadeInLeftBig" data-wow-delay="0.9s">
                    <div class="icon-box">
                        <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                        <div class="info white">
                            <h4 class="title">ARSANI DEĞERLENDİR</h4>
                            <p>Cheeck our quality the discuss Phasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
            <div class="col-xs-6 col-md-3 padding-t20-media-icon">
                <!--box item-->
                <div class="box wow fadeInRightBig" data-wow-delay="0.9s">
                    <div class="icon-box">
                        <div class="image"><i class="fa fa-paper-plane-o"></i></div>
                        <div class="info white">
                            <h4 class="title">FARKIMIZ</h4>
                            <p>Piko construction always best in worldPhasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
            <div class="col-xs-6 col-md-3 padding-t20-media-icon">
                <!--box item-->
                <div class="box wow fadeInRight" data-wow-delay="0.5s">
                    <div class="icon-box">
                        <div class="image"><i class="fa fa-lightbulb-o"></i></div>
                        <div class="info white">
                            <h4 class="title">NEDEN BİZ?</h4>
                            <p>The construciton is OUR MISSION Phasellus luctus id turpis cursus. Donec at augue dictum dolor In tempor ultrices est, nec lacinia risus vehicula</p>
                        </div>
                    </div>
                </div>   <!--end box item-->
            </div>
        </div>
    </div>
</section>@*Short Words*@

<section class="container">
    <div class="padding-makale">
        <!--heading-->
        <div class="piko-title9 wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
            <h3>Son Makaleler</h3>
            <hr>
            <p>Son Eklenen Makalelerimizi Keşfedin</p>
        </div> <!--end heading-->
        <!--start post-->
        <div class="row">
            
            @if (blog1 != null)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="team">
                        <div class="box wow fadeInLeft" data-wow-delay="0.5s">
                            <div class="blog_date">
                                <strong>@blog1.BlogDate.Value.Day </strong><br>@if (blog1.BlogDate.Value.Month == 01)
                                {
                                    <p>Ocak</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 02)
                                {
                                    <p>Şubat</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 03)
                                {
                                    <p>Mart</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 04)
                                {
                                    <p>Nisan</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 05)
                                {
                                    <p>Mayıs</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 06)
                                {
                                    <p>Haziran</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 07)
                                {
                                    <p>Temmuz</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 08)
                                {
                                    <p>Ağustos</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 09)
                                {
                                    <p>Eylül</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 10)
                                {
                                    <p>Ekim</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 11)
                                {
                                    <p>Kasım</p>
                                }
                                else if (blog1.BlogDate.Value.Month == 12)
                                {
                                    <p>Aralık</p>
                                }
                            </div>
                            <figure>
                                <img style="height:157px;width:100%" src="~/Dosyalar/@blog1.BlogPictureURL" alt="@blog1.BlogPictureSEO">
                            </figure>
                            <div class="caption">
                                <h3>@blog1.BlogTitle</h3>
                                <ul class="piko-li">
                                    <li><i class="fa fa-calendar"></i>@blog1.BlogDate.Value.ToShortDateString()</li>
                                    <li><i class="fa fa-user"></i>Admin</li>
                                    <li><i class="fa fa-search"></i>@blog1.BlogViewCount</li>
                                </ul>
                                <p></p>
                                <a href="@Url.Action("BlogSingle","Home")/@blog1.ID">Devamını Oku</a>
                            </div>
                        </div>
                    </div> <!--end post-->
                </div>
            }
            @if (blog2 != null)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="team">
                        <div class="box wow fadeInLeftBig" data-wow-delay="0.9s">
                            <div class="blog_date">
                                <strong>@blog2.BlogDate.Value.Day </strong><br>@if (blog2.BlogDate.Value.Month == 01)
                                {
                                    <p>Ocak</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 02)
                                {
                                    <p>Şubat</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 03)
                                {
                                    <p>Mart</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 04)
                                {
                                    <p>Nisan</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 05)
                                {
                                    <p>Mayıs</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 06)
                                {
                                    <p>Haziran</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 07)
                                {
                                    <p>Temmuz</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 08)
                                {
                                    <p>Ağustos</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 09)
                                {
                                    <p>Eylül</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 10)
                                {
                                    <p>Ekim</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 11)
                                {
                                    <p>Kasım</p>
                                }
                                else if (blog2.BlogDate.Value.Month == 12)
                                {
                                    <p>Aralık</p>
                                }
                            </div>
                            <figure>
                                <img style="height:157px;width:100%" src="~/Dosyalar/@blog2.BlogPictureURL" alt="@blog2.BlogPictureSEO">
                            </figure>
                            <div class="caption">
                                <h3>@blog2.BlogTitle</h3>
                                <ul class="piko-li">
                                    <li><i class="fa fa-calendar"></i>@blog2.BlogDate.Value.ToShortDateString()</li>
                                    <li><i class="fa fa-user"></i>Admin</li>
                                    <li><i class="fa fa-search"></i>@blog2.BlogViewCount</li>
                                </ul>
                                <p></p>
                                <a href="@Url.Action("BlogSingle","Home")/@blog2.ID">Devamını Oku</a>
                            </div>
                        </div>
                    </div> <!--end post-->
                </div>
            }
            @if (blog3 != null)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="team">
                        <div class="box wow fadeInRightBig" data-wow-delay="0.9s">
                            <div class="blog_date">
                                <strong>@blog3.BlogDate.Value.Day </strong><br>@if (blog3.BlogDate.Value.Month == 01)
                                {
                                    <p>Ocak</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 02)
                                {
                                    <p>Şubat</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 03)
                                {
                                    <p>Mart</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 04)
                                {
                                    <p>Nisan</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 05)
                                {
                                    <p>Mayıs</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 06)
                                {
                                    <p>Haziran</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 07)
                                {
                                    <p>Temmuz</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 08)
                                {
                                    <p>Ağustos</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 09)
                                {
                                    <p>Eylül</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 10)
                                {
                                    <p>Ekim</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 11)
                                {
                                    <p>Kasım</p>
                                }
                                else if (blog3.BlogDate.Value.Month == 12)
                                {
                                    <p>Aralık</p>
                                }
                            </div>
                            <figure>
                                <img style="height:157px;width:100%" src="~/Dosyalar/@blog3.BlogPictureURL" alt="@blog3.BlogPictureSEO">
                            </figure>
                            <div class="caption">
                                <h3>@blog3.BlogTitle</h3>
                                <ul class="piko-li">
                                    <li><i class="fa fa-calendar"></i>@blog2.BlogDate.Value.ToShortDateString()</li>
                                    <li><i class="fa fa-user"></i>Admin</li>
                                    <li><i class="fa fa-search"></i>@blog2.BlogViewCount</li>
                                </ul>
                                <p></p>
                                <a href="@Url.Action("BlogSingle","Home")/@blog3.ID">Devamını Oku</a>
                            </div>
                        </div>
                    </div> <!--end post-->
                </div>
            }
            @if (blog4 != null)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="team">
                        <div class="box wow fadeInRight" data-wow-delay="0.5s">
                            <div class="blog_date">
                                <strong>@blog4.BlogDate.Value.Day </strong><br>@if (blog4.BlogDate.Value.Month == 01)
                                {
                                    <p>Ocak</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 02)
                                {
                                    <p>Şubat</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 03)
                                {
                                    <p>Mart</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 04)
                                {
                                    <p>Nisan</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 05)
                                {
                                    <p>Mayıs</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 06)
                                {
                                    <p>Haziran</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 07)
                                {
                                    <p>Temmuz</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 08)
                                {
                                    <p>Ağustos</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 09)
                                {
                                    <p>Eylül</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 10)
                                {
                                    <p>Ekim</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 11)
                                {
                                    <p>Kasım</p>
                                }
                                else if (blog4.BlogDate.Value.Month == 12)
                                {
                                    <p>Aralık</p>
                                }
                            </div>
                            <figure>
                                <img style="height:157px;width:100%" src="~/Dosyalar/@blog4.BlogPictureURL" alt="@blog4.BlogPictureSEO">
                            </figure>
                            <div class="caption">
                                <h3>@blog4.BlogTitle</h3>
                                <ul class="piko-li">
                                    <li><i class="fa fa-calendar"></i>@blog4.BlogDate.Value.ToShortDateString()</li>
                                    <li><i class="fa fa-user"></i>Admin</li>
                                    <li><i class="fa fa-search"></i>@blog4.BlogViewCount</li>
                                </ul>
                                <p></p>
                                <a href="@Url.Action("BlogSingle","Home")/@blog4.ID">Devamını Oku</a>
                            </div>
                        </div>
                    </div> <!--end post-->
                </div>
            }

            
            
            
        </div>
    </div>
</section> @*Last Blogs*@

<div class="pattern4">
    <div class="container">
        <div id="partner" class="owl-carousel"
             data-autoplay="true"
             data-margin="15"
             data-smartspeed="250"
             data-loop="true"
             data-autoheight="false"
             data-nav="true"
             data-dots="false"
             data-responsive="{&quot;0&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;992&quot;:{&quot;items&quot;:5},&quot;1200&quot;:{&quot;items&quot;:7}}">
            <!--client logo 1-->
            @foreach (var item in referenceList)
            {
                <div class="partner item" style="height:60px;width:150px">
                    <img src="~/Dosyalar/@item.ReferencePictureURL" alt="@item.ReferencePictureSEO" style="max-height:80px" width="140"/>
                </div> <!--end client logo 1-->
            }
            
        </div>
    </div>
</div> @*References*@



 <!--end carousel-->