
@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Projelerimiz</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Projelerimiz</li>
            </ol>
        </div>
    </div>
</section> <!--end sub titile-->
<!-- start modern portfolio -->
<section class="container">
    <div class="padding-tb75">
        <div class="row no-gutter4">
            <ul id="filter">
                <li class="selected" data-group="all">Tümü</li>
                <li data-group="construction">Tamamlanan Projeler</li>
                <li data-group="isolation">Satışı Devam Eden Projeler</li>
                <li data-group="interior">Yakındaki Projeler</li>
                @*<li data-group="tiling">Tiling</li>*@
            </ul>
            <div id="portfolio-grid">
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "construction"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/1.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında</a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "interior", "construction"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/2.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation", "interior"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/3.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "interior", "construction"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/4.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "construction", "interior"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/5.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation", "interior"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/6.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation", "interior"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/7.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation", "isolation"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/8.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation", "construction"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/9.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "construction", "isolation"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/10.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation", "isolation"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/11.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
                <!--start item-->
                <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation", "interior"]'>
                    <div class="recent-project">
                        <figure>
                            <div class="overlay"></div> <!--overlay color-->
                            <!--project title-->
                            <div class="title">
                                <h4>Proje <strong>İSMİ</strong></h4> <hr>
                            </div> <!--end project title-->
                            <img src="/Content/pikocon_html/images/portfolio/thumbnails/12.jpg" alt="project image" />
                            <!--project single link-->
                            <div class="project-btn">
                                <a href="@Url.Action("SingleProject","Home")">Proje Hakkında </a>
                            </div> <!--project single link-->
                        </figure>
                    </div>
                </div> <!--end project item-->
            </div>
        </div>
    </div>
</section>

