@{
    ViewBag.Title = "ProjePazarlama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>PROJE PAZARLAMA</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Proje Pazarlama</li>
            </ol>
        </div>
    </div>
</section>

<section class="container">
    <div class="row padding-tb50">
        <div class="col-md-9 col-sm-8">
            <!--text blog-->
            <div class="padding-tb25" style="padding:0px">
                <div class="piko-title4 widget">
                    <h3><span class="line"></span><span class="text">Proje Pazarlama</span></h3>
                </div>
                <p class="padding-t10">Let's proceed on the assumption that you're taking out an individual construction loan. Such loans, which can be tough to get without a previous banking history because of the lack of collateral (a finished home), have special guidelines and include monitoring to ensure timely completion so your repayment can begin promptly.</p>
                <P>construction loans are typically short term with a <mark>maximum of 10 year</mark>, and have variable rates that move up and down with the prime rate.</P>
            </div> <!--end text blog-->
            <!--text blog-->
            <div class="row margin-o-auto no-gutter1">
                <div class="col-md-6">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">Başlık 2</span></h3>
                    </div>
                    <p class="padding-t20">Let's proceed on the assumption that you're taking out an individual construction loan.</p>
                    <P>construction loans are typically short term with a min 10 year, and have variable rates that move up and down with the prime rate.</P>
                    <ul class="arrow">
                        <li>Optimize materials, construction method and cost. </li>
                        <li>Replace  buttresses for improved working space.</li>
                        <li>Limit subsequent structural movement.</li>
                        <li>Each Anchor is tested well above design load</li>
                        <li>Only relatively small-diameter holes need to be drilled.</li>
                    </ul>
                </div>
                <!--borochure info-->
                   <!--end borochure info-->
            </div> <!--text blog-->
        </div> <!--end col-md 9 -->
        <!--start- right side menu-->
        <div class="col-md-3 col-sm-4">
            <div class="list-group custom-list">
                <a href="@Url.Action("Avantajlarimiz","Home")" class="list-group-item">AVANTAJLARIMIZ</a>
                <a href="@Url.Action("SatisSonuHizmetler","Home")" class="list-group-item ">SATIŞ SONU HİZMETLER</a>
                <a href="@Url.Action("IkinciElSatis","Home")" class="list-group-item">2.Cİ EL SATIŞLARIMIZ</a>
                <a href="@Url.Action("ProjeGelistirme","Home")" class="list-group-item">PROJE GELİŞTİRME</a>
                <a href="@Url.Action("ProjeSatis","Home")" class="list-group-item">PROJE SATIŞ</a>
                <a href="@Url.Action("ProjePazarlama","Home")" class="list-group-item active">PROJE PAZARLAMA</a>
            </div>
            <!--compnay address-->
            <address class="padding-t30">
                <strong>PIKO CONSTRUCTION INC</strong><br>
                2564 Southern Avenue Floyd<br>
                AF 2356, USA<br>
            </address>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (123) 4567 890<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> (123) 4567 890 22<br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> info@themepiko.com
        </div>  <!--end right side menu-->
    </div> <!-- end of row-->
</section>