@using ProjeKulubu.Models
@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var projectList = db.Project.ToList();
    var picture = db.ProjectPicture.ToList();
}


@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Projelerimiz</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Projelerimiz</li>
            </ol>
        </div>
    </div>
</section> <!--end sub titile-->
<!-- start modern portfolio -->

<section class="container">
    <div class="padding-tb75">
        <div class="row no-gutter4">
            <ul id="filter">
                <li class="selected" data-group="all">TÜMÜ</li>
                <li data-group="construction">TAMAMLANAN PROJELER</li>
                <li data-group="isolation">SATIŞI DEVAM EDEN PROJELER</li>
                <li data-group="interior">YAKINDAKİ PROJELER</li>
            </ul>
            <div id="portfolio-grid">
                <!--start item-->
                @foreach (var item in projectList)
                {
                    if (item.ProjectStatusID == 1)
                    {
                        if (item.ProjectPicture.Where(x => x.ProjectID == item.ID).FirstOrDefault() != null)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "construction"]'>
                                <div class="recent-project">
                                    <figure>
                                        <div class="overlay"></div> <!--overlay color-->
                                        <!--project title-->
                                        <div class="title">
                                            <h4><strong>@item.ProjectName</strong></h4> <hr>
                                        </div> <!--end project title-->
                                        <img style="height:225px;width:100%" src="~/Dosyalar/@item.ProjectPicture.FirstOrDefault().PictureURL" alt="@item.ProjectPicture.FirstOrDefault().PictureSEO" />                                    <!--project single link-->
                                        <div class="project-link">
                                            <a href="@Url.Action("SingleProject", "Home")/@item.ID">Projeyi İncele <i class="fa fa-arrow-right"></i></a>
                                        </div> <!--project single link-->
                                    </figure>
                                </div>
                            </div>
                        }
                        else
                        {

                        }
                         <!--end project item-->
                    }
                    else if (item.ProjectStatusID == 2)
                    {

                        if (item.ProjectPicture.Where(x => x.ProjectID == item.ID).FirstOrDefault() != null)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "isolation"]'>
                                <div class="recent-project">
                                    <figure>
                                        <div class="overlay"></div> <!--overlay color-->
                                        <!--project title-->
                                        <div class="title">
                                            <h4><strong>@item.ProjectName</strong></h4> <hr>
                                        </div> <!--end project title-->
                                        <img style="height:225px;width:100%" src="~/Dosyalar/@item.ProjectPicture.FirstOrDefault().PictureURL" alt="@item.ProjectPicture.FirstOrDefault().PictureSEO" />
                                        <!--project single link-->
                                        <div class="project-link">
                                            <a href="@Url.Action("SingleProject","Home")/@item.ID">Projeyi İncele <i class="fa fa-arrow-right"></i></a>
                                        </div> <!--project single link-->
                                    </figure>
                                </div>
                            </div>
                        }
                        else
                        {

                        }

                         <!--end project item-->
                    }
                    else if (item.ProjectStatusID == 3)
                    {
                        if (item.ProjectPicture.Where(x => x.ProjectID == item.ID).FirstOrDefault() != null)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 item" data-groups='["all", "interior"]'>
                                <div class="recent-project">
                                    <figure>
                                        <div class="overlay"></div> <!--overlay color-->
                                        <!--project title-->
                                        <div class="title">
                                            <h4><strong>@item.ProjectName</strong></h4> <hr>
                                        </div> <!--end project title-->
                                        <img style="height:225px;width:100%" src="~/Dosyalar/@item.ProjectPicture.FirstOrDefault().PictureURL" alt="@item.ProjectPicture.FirstOrDefault().PictureSEO" />
                                        <!--project single link-->
                                        <div class="project-link">
                                            <a href="@Url.Action("SingleProject", "Home")/@item.ID">Projeyi İncele <i class="fa fa-arrow-right"></i></a>
                                        </div> <!--project single link-->
                                    </figure>
                                </div>
                            </div>
                        }
                        else
                        {

                        }
                         <!--end project item-->
                    }

                }
               
            </div>
        </div>
    </div>
</section>