@model PagedList.IPagedList<ProjeKulubu.Models.Reference>
@using PagedList.Mvc

@{
    ViewBag.Title = "Referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Referanslarımız</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Referanslar</li>
            </ol>
        </div>
    </div>
</section>

<section class="padding-t50">
    <div class="container">
        <div class="row">
            <div class="piko-divider1 three"></div>
            <!--product-->
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="thumbnail piko-thub shop">

                        <div class="caption">
                            <div class="piko-title5">
                                <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="@item.ReferenceLink" target="_blank"><strong>@item.ReferenceTitle</strong></a></span></h3>
                            </div>
                            <div class="cart-button" style="height:120px">
                                <img src="~/Dosyalar/@item.ReferencePictureURL" alt="@item.ReferencePictureSEO" class="piko-thub-img " />
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>  <!--end container-->
</section>

<div class="margin-tb25">
    <!--start pagination-->
    <div class="container">
        <div class="custom-pagi">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Referanslar", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
            </ul>
        </div>
    </div>
    <!--end of pagination-->
</div>


