@using ProjeKulubu.Models
@{
    db2299D218BEEntities9 db = new db2299D218BEEntities9();
    List<AskedQuestions> questionList = new List<AskedQuestions>();
    questionList = db.AskedQuestions.Where(x => x.Question != null && x.QuestionAnswer != null).ToList();
}


@{
    ViewBag.Title = "SikSorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Content/AdminContent/js/SlideAction.js"></script>

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Sık Sorulan Sorular</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li><a href="@Url.Action("Vizyonumuz","Home")">Hakkımızda</a></li>
                <li><a href="@Url.Action("MusteriMemnuniyeti","Home")">Bireysel</a></li>
                <li class="active">Sık Sorulan Sorular</li>
            </ol>
        </div>
    </div>
</section>

<section class="container">
    <div class="row padding-tb50">
        <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4 padding-b20-media">
            <!--start body content-->
            <img src="/Content/pikocon_html/images/banner-question.jpg" class="img-responsive" alt="carer banner" />
            <div class="padding-t25">
                <!--start careers -->
              
                <!-- start of accordion -->
                <div class="panel-group" id="accordion">
                   
                   @foreach (AskedQuestions item in questionList)
                   {
                    <div class="panel panel-info">
                        <div class="panel-heading" id="dataQuestion">
                            <h4 class="panel-title accordion-toggle">
                              @item.Question
                            </h4>
                        </div>
                        <div id="dataAnswer">
                            <div class="panel-body">
                               <p>@item.QuestionAnswer</p>
                            </div>
                        </div>
                    </div> <!--panel info-->
                   }
                 
                </div> <!-- end of accordion -->
            </div> <!--end padding 25-->
        </div> <!--end of col9-->
        <!--right side menu-->
        <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">
            @Html.Partial("HakkimizdaMenu")
        </div> <!--end side menu-->
    </div> <!-- end of row-->
</section>

