@using ProjeKulubu.Models
@model Project

@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var pictureList = db.ProjectPicture.Where(x => x.ProjectID == Model.ID).ToList();
    var teamList = db.Team.Where(x => x.ProjectID == Model.ID).ToList();
    var contact = db.MainContents.Where(x => x.ID == 1).FirstOrDefault();
}

@{
    ViewBag.Title = "SingleProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="project-view margin-t150">
    <div class="img-pattern">
        <img src='/Content/pikocon_html/images/bg/bg3.jpg' alt='' class='top-img' />
        <div class="social-share">
            <div class="container">
                <ul class='hidden-xs'>
                    <li class="btn-bounce-top"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="btn-bounce-top"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="btn-bounce-top"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="btn-bounce-top"><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                    <li><a href="@Url.Action("Projeler","Home")">Projelerimiz</a></li>
                    <li class="active">@Model.ProjectName</li>
                </ol>
            </div>
        </div>
    </div>  <!--end project top image-->
    <!--project details-->
    <div class="container">
        <div class="row padding-t20">
            <div class="col-sm-8 col-md-8 col-md-push-4 col-sm-push-4">
                @if (pictureList.Count > 1)
                {
                    <div id="shop-slide" class="owl-carousel owl-nav-show-hover margin-t20 fadeiN popup-gallery"
                         data-autoplay="ture"
                         data-margin="30"
                         data-smartspeed="250"
                         data-loop="true"
                         data-autoheight="false"
                         data-nav="true"
                         data-dots="true"
                         data-items="1">

                        @foreach (var pictures in pictureList)
                {
                            <div class="item">
                                <img style="width:100%;height:586px" src="~/Dosyalar/@pictures.PictureURL" alt="@pictures.PictureSEO" class="img-responsive">
                            </div>
                        }



                    </div> <!--end carousel-->
                }
                else
                {
                    <img src="~/Dosyalar/@pictureList.Where(x=>x.ProjectID == Model.ID).FirstOrDefault().PictureURL" style="height:586px;width:100%" alt="@pictureList.Where(x=>x.ProjectID == Model.ID).FirstOrDefault().PictureSEO" />
                }

                <!--start text-->
                <div class="padding-tb25">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">PROJE DETAYLARI</span></h3>
                    </div>
                    @Html.Raw(Model.ProjectContent)
                </div> <!--end text -->
                <!--title-->
               
            </div>
            <!--project details-->
            <div class="col-sm-4 col-md-4 col-md-pull-8 col-sm-pull-8">
                <div class="info left-side">
                    <h3>@Model.ProjectName</h3>
                    @Model.ProjectLocation
                    <ul class="margin-t15">
                        <li><i class="fa fa-home"></i>Tip: @Model.ProjectType</li>
                        <li><i class="fa fa-info-circle"></i>Durum:@Model.projectdurum </li>
                        <li><i class="fa fa-usd"></i> Fiyat Aralığı: @Model.ProjectBudgets</li>
                        <li><i class="fa fa-calendar"></i>Yıl: @Model.ProjectYear</li>
                    </ul>
                    <h4>Proje Ekibi</h4>
                    <ul class="margin-t15">
                        @foreach (var item in teamList)
                        {
                            
                            <li><a href="@Url.Action("EkipSingle","Home")/@item.ID"><img src="~/Dosyalar/@item.MemberPictureURL" alt="@item.MemberPictureSEO"><span>@item.MemberName</span> - @item.MemberPozision</a></li>
                        }
                     
                       
                    </ul>
                </div>
                <div class="info2 hidden-sm left-side">
                    <address>
                        <h4>Proje Kulübü , Ltd Sti</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i>@contact.contanctmainoffice</li>
                            <li><i class="fa fa-phone"></i>@contact.phoneNumber</li>
                            <li><i class="fa fa-envelope-o"></i>@contact.Mail</li>
                            <li><i class="fa fa-clock-o"></i>@Model.ProjectWorkingTimes</li>
                        </ul>
                    </address>
                </div>
            </div> <!--end project details-->
        </div><!-- end of row -->
    </div> <!--end container-->
</section>

