@model PagedList.IPagedList<ProjeKulubu.Models.Education>
@using PagedList.Mvc
@using ProjeKulubu.Models

@{ 
    db2299D218BEEntities10 db = new db2299D218BEEntities10();
    var populerList = db.Education.Where(x => x.EducationTypeID == 2).OrderByDescending(y => y.EducationView).Take(3);
    var newList = db.Education.Where(x => x.EducationTypeID == 2).OrderByDescending(y => y.ID).Take(3);
    var january = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 01).ToList();
    var february = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 02).ToList();
    var march = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 03).ToList();
    var april = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 04).ToList();
    var may = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 05).ToList();
    var june = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 06).ToList();
    var july = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 07).ToList();
    var august = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 08).ToList();
    var september = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 09).ToList();
    var october = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 10).ToList();
    var november = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 11).ToList();
    var december = db.Education.Where(x => x.EducationTypeID == 2).Where(x => x.EducationDate.Month == 12).ToList();
}

    @{
        ViewBag.Title = "VerdigimizEgitimler";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <section class="banner margin-t150">
        <div class="container page-banner">
            <div class="col-sm-6 col-md-6">
                <h1>Verdiğimiz Eğitimler</h1>
            </div>
            <div class="col-sm-6 col-md-6">
                <ol class="breadcrumb pull-right">
                    <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                    <li><a href="@Url.Action("Egitimlerimiz","Home")">Eğitimlerimiz</a></li>
                    <li class="active">Verdiğimiz Eğitimler</li>
                </ol>
            </div>
        </div>
    </section>

    <section class="padding-tb50">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <!--post body-->
                    <div class="row team1">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-12 col-md-6">
                                <!--post box-->
                                <div class="box">
                                    <!--blog date-->
                                    
                                    <!--blog image-->
                                    <figure>
                                    @if (Path.GetExtension(item.EducationFileURL) == ".mp4")
                                    {
                                        <video style="width:100%" controls>
                                            <source src="~/Dosyalar/@item.EducationFileURL" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    }
                                    else
                                    {
                                        <img style="width:100%;height:235px" src="~/Dosyalar/@item.EducationFileURL" alt="@item.EducationFileSEO">

                                    }
                                    </figure> <!--end blog image-->
                                    <!--blog caption-->
                                    <div class="caption">
                                        <h2>@item.EducationTitle</h2>
                                        <ul class="piko-li">
                                            <li><i class="fa fa-calendar"></i>@item.EducationDate.ToShortDateString().ToString()</li>
                                            <li><i class="fa fa-user"> Yazar:</i></li>
                                            <li><i class="fa fa-search"></i>@item.EducationView</li>
                                        </ul>
                                        <p>@item.EducationContent</p>
                                        <a href="@Url.Action("Egitim","Home")/@item.ID">Devamını Oku</a>
                                    </div> <!--end blog caption-->
                                </div>  <!--end post box-->
                            </div> <!--end post-->
                        }
                    </div>
                    <!--start pagination-->
                    <div class="custom-pagi margin-t50">
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("VerdigimizEgitimler", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToPreviousPageFormat = "‹ Önceki", LinkToNextPageFormat = "Sonraki ›" })
                        </ul>
                    </div>
                    <!--end of pagination-->
                </div>
                <div class="col-md-3 col-sm-5">
                    <!--tab content-->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#sectionA"> Popüler</a></li>
                        <li><a data-toggle="tab" href="#sectionB"> Yeni</a></li>
                    </ul>
                    <div class="tab-content tab-widget">
                        <div id="sectionA" class="tab-pane fade in active">
                          @foreach (var item in populerList)
                          {
                            <div class="media">
                                <div class="media-left">
                                    <a href="@Url.Action("Egitim","Home")/@item.ID">
                                        @if (Path.GetExtension(item.EducationFileURL) == ".mp4")
                                        {
                                            <img style="height:38px;width:100%" class="media-object" src="~/Content/video.png" />
                                        }
                                        else
                                        {
                                            <img style="height:38px;width:100%" class="media-object" src="~/Dosyalar/@item.EducationFileURL" alt="@item.EducationFileSEO">

                                        }
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="@Url.Action("Egitim","Home")/@item.ID">@item.EducationTitle</a><br>
                                    <p>@item.EducationDate.ToShortDateString()</p>
                                </div>
                            </div>
                          }
                              
                        </div>
                        <div id="sectionB" class="tab-pane fade">
                            @foreach (var item in newList)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="@Url.Action("Egitim","Home")/@item.ID">
                                          @if (Path.GetExtension(item.EducationFileURL) == ".mp4")
                                          {
                                            <img style="height:38px;width:100%" class="media-object" src="~/Content/video.png" />
                                          }
                                          else
                                          {
                                            <img style="height:38px;width:100%" class="media-object" src="~/Dosyalar/@item.EducationFileURL" alt="@item.EducationFileSEO">

                                          }
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="@Url.Action("Egitim","Home")/@item.ID">@item.EducationTitle</a><br>
                                        <p>@item.EducationDate.ToShortDateString()</p>
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </div> <!--End tabs-->
                    <!--start archive-->
                    <div class="margin-b30">
                        <div class="piko-title4 widget">
                            <h3><span class="line"></span><span class="text">Arşiv</span></h3>
                        </div><br>
                        <div class="archive">
                            <a href="#">
                                Ocak @if (january.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @january.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Şubat @if (february.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @february.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Mart @if (march.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @march.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Nisan @if (april.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @april.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Mayıs @if (may.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @may.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Haziran @if (june.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @june.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Temmuz @if (july.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @july.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Ağustos @if (august.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @august.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Eylül @if (september.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @september.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Ekim @if (october.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @october.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Kasım @if (november.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @november.Count )
                                    </mark>
                                }
                            </a>
                            <a href="#">
                                Aralık @if (december.Count == 0)
                                {
                                    <mark>( 0 )</mark>
                                }
                                else
                                {
                                    <mark>
                                        ( @december.Count )
                                    </mark>
                                }
                            </a>


                        </div>
                    </div>
                    <!--start tag-->

                </div>
            </div>
        </div>
    </section>
