@using ProjeKulubu.Models
@{ 
    db2299D218BEEntities8 db = new db2299D218BEEntities8();
    var query = db.Team.ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Ekip Üyeleri</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="@Url.Action("TeamIndex","Team")"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>İsim</th>
                                <th>Pozisyon</th>
                                <th>Tecrübe</th>
                                <th>Yaş</th>
                                <th>Biografi</th>
                                <th>Resim</th>
                                <th>Facebook</th>
                                <th>Twitter</th>
                                <th>GooglePlus</th>
                                <th>Linkedin</th>
                                <th>İncele</th>
                                <th>Düzenleme</th>
                                <th>Silme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Team item in query)
                            {
                                <tr class="table-flag-blue">
                                    <td><input type="checkbox" /></td>
                                    <td>@item.ID</td>
                                    <td>@item.MemberName</td>
                                    <td>@item.MemberPozision</td>
                                    <td>@item.MemberExperience</td>
                                    <td>@item.MemberAge</td>
                                    <td>@item.MemberBiografi</td>
                                    <td>@item.MemberPictureURL</td>
                                    <td>@item.MemberFacebookURL</td>
                                    <td>@item.MemberTwitterURL</td>
                                    <td>@item.MemberGoogleURL</td>
                                    <td>@item.MemberLinkedinURL</td>
                                    <td><a class="btn btn-sm show-tooltip" title="İncele" href="@Url.Action("TeamView","Team")/@item.ID"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="@Url.Action("TeamUpdate","Team")/@item.ID"><i class="fa fa-edit"></i></a></td>
                                    <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="@Url.Action("TeamDelete","Team")/@item.ID"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">← Önceki</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Sonraki → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>