@model ProjeKulubu.Models.Team

@{
    ViewBag.Title = "TeamUpdate";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-user"></i>
            <a href="@Url.Action("TeamIndex","Team")">Ekip Yönetimi</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active"><i class="fa fa-edit"></i>Ekip Üyesi Düzenleme Ekranı</li>
    </ul>
</div>@*Header*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-user"></i> Ekip Üyesi Düzenleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Team/TeamDataUpdate" method="post" enctype="multipart/form-data" class="form-horizontal form-row-separated">
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Üye İsim ve Soyisim:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" required oninvalid="this.setCustomValidity('Üye ismini boş geçemezsiniz')" oninput="setCustomValidity('')" style="color:#000000" name="name" id="name" value="@Model.MemberName" class="form-control show-popover">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Üyenin Pozisyonu:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <label class="radio-inline">
                                <input type="radio" name="position" value="Genel Müdür" /> Genel Müdür
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="position" value="Yönetici" checked /> Yönetici
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="position" value="Çalışan" /> Çalışan
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Üye Tecrübe:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <select name="exp" id="exp" class="form-control input-sm" tabindex="1">
                                <option value="Yıldız 1">1 Yıldız</option>
                                <option value="Yıldız 2">2 Yıldız</option>
                                <option value="Yıldız 3">3 Yıldız</option>
                                <option value="Yıldız 4">4 Yıldız</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">* Üye Yaşı:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="age" style="color:#000000" required oninvalid="this.setCustomValidity('Üye yaşını boş geçemezsiniz')" oninput="setCustomValidity('')" onkeypress="return isNumber(event)" id="age" value="@Model.MemberAge" class="form-control show-popover">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">* Üye Resim:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                    <img src="~/Dosyalar/@Model.MemberPictureURL" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Resim Seç</span>
                                        <span class="fileupload-exists">Değiştir</span>
                                        <input  type="file" required  oninvalid="this.setCustomValidity('Üye resmini boş geçemezsiniz')" oninput="setCustomValidity('')" name="picture" id="picture" class="file-input" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Üye Facebook:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="facebook" style="color:#000000" id="facebook" value="@Model.MemberFacebookURL" class="form-control show-popover">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Üye Twitter:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="twitter" style="color:#000000" id="twitter" value="@Model.MemberTwitterURL" class="form-control show-popover"">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Üye GooglePlus:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="google" style="color:#000000" id="google" value="@Model.MemberGoogleURL" class="form-control show-popover">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Üye Linkedin:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="linkedin" style="color:#000000" id="linkedin" value="@Model.MemberLinkedinURL"  class="form-control show-popover">
                        </div>
                    </div>
                    <div class="box-content">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">* Üye Biyografisi:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <textarea class="form-control col-md-12 ckeditor" style="color:#000000" name="biografi" id="biografi" rows="6">@Model.MemberBiografi</textarea>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <input type="hidden" id="dataId" name="Id" value="@Model.ID" />
                            <button type="submit" class="btn btn-primary" style="float:right"><i class="fa fa-check-circle"></i>Güncelle</button>
                            <a class="btn btn-danger" style="float:left" href="@Url.Action("TeamIndex","Team")">Geri Dön</a>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <h6 style="float:right">Başında * Olan Yerler Doldurulmak Zorundadır.</h6>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>@*Team Update Form*@

<footer>
    <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>@*Footer*@

@*Scripts Down HERE*@

<script language="javascript" type="text/javascript">


    function isNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>@*Only Number Scripts*@

<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<script src="~/Content/AdminContent/js/buttonActions.js"></script>
<script type="text/javascript" src="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>


