@model ProjeKulubu.Models.Blog

@{
    ViewBag.Title = "BlogDelete";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-tasks"></i>
            <a href="@Url.Action("BlogIndex","Blog")">Makale Yönetimi</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active"><i class="fa fa-trash-o"></i>Makale Silme Ekranı</li>
    </ul>
</div>@*Header*@

<form action="/Blog/BlogDataDelete" method="post" class="form-horizontal form-row-separated">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-black">
                    <div class="box-title">
                        <h3><i class="fa fa-trash-o"></i> Mevcut Makaleyi Silmek İstediğinizden Eminmisiniz ?</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Makale ID:</label>
                            <div class="col-sm-9 col-lg-10 controls">

                                <input type="text" style="color:#000000" class="form-control" disabled value="@Model.ID" id="ID" name="textfield3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Makale Başlığı:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" class="form-control" value="@Model.BlogTitle" style="color:#000000" disabled id="QuestionContent" name="textfield3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Makale Resim:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                        <img src="~/Dosyalar/@Model.BlogPictureURL" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Makale Resim SEO:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" name="seo" id="seo" disabled value="@Model.BlogPictureSEO" style="color:#000000" class="form-control" >
                            </div>
                        </div>
                        <div class="box-content">

                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Makale İçeriği:</label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <textarea class="form-control col-md-12" style="color:#000000" disabled name="content" rows="6">@Model.BlogContent</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <input type="hidden" id="id" name="id" value="@Model.ID" />
                                <button type="submit" class="btn btn-primary" style="float:right" onclick="Success()">Sil</button>
                                <a class="btn btn-danger" style="float:left" href="@Url.Action("BlogIndex","Blog")">Geri Dön</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>@*Blog Delete Form*@

<footer>
        <p>2016 © <a target="_blank" href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
    </footer>@*Footer*@

@*Scripts Down Here*@
<script type="text/javascript">
    function Success()
    {
        alert("Makale Başarıyla Silindi");
    }
</script>@*Success Message*@
<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/jquery-tags-input/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<script type="text/javascript" src="/Content/AdminContent/assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
