@using ProjeKulubu.Models

@{ 
    db2299D218BEEntities8 db = new db2299D218BEEntities8();
    var query = db.Blog.ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Ekip Üyeleri</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="@Url.Action("BlogIndex","Blog")"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Başlık</th>
                                <th>Etiketler</th>
                                <th>Resim</th>
                                <th>ResimSEO</th>
                                <th>İçerik</th>
                                <th>Tarih</th>
                                <th>Görüntülenme</th>
                                <th>İncele</th>
                                <th>Düzenleme</th>
                                <th>Silme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Blog item in query)
                            {
                                <tr class="table-flag-blue">
                                    <td><input type="checkbox" /></td>
                                    <td>@item.ID</td>
                                    <td>@item.BlogTitle</td>
                                    <td>Etiket</td>
                                    <td><ul class="gallery">
    <li>
        <a href="~/Dosyalar/@item.BlogPictureURL" class="show-tooltip" title="Resmi İnceleyin" rel="prettyPhoto">
            <div>
                <span class="fa fa-image"></span>
            </div>
        </a>
    </li>
</ul></td>
                                    <td>@item.BlogPictureSEO</td>
                                    <td>@item.BlogContent</td>
                                    <td>Tarih</td>
                                    <td>Görüntü</td>
                                    <td><a class="btn btn-sm show-tooltip" title="İncele" href="@Url.Action("BlogView","Blog")/@item.ID"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="@Url.Action("BlogUpdate","Blog")/@item.ID"><i class="fa fa-edit"></i></a></td>
                                    <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="@Url.Action("BlogDelete","Blog")/@item.ID"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">← Önceki</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Sonraki → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

